:root { --font-M_plus: "M PLUS 1p", serif; --co-blue: #32b1ca; --co-yellow: #f4c51c; --co-yellow2: #ebb115; --co-yellow3: #dfb14b; --bg-blue: #32b1ca; --bg-yellow: #f4c51c; --bg-stripe-1: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 10px, transparent 10px, transparent 20px); --bg-stripe-2: repeating-linear-gradient(45deg, rgba(45, 159, 181, 1), rgba(45, 159, 181, 1) 15px, transparent 15px, transparent 30px); --bg-stripe-3: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20px, transparent 20px, transparent 40px); --bg-stripe-4: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24) 15px, transparent 15px, transparent 30px); --bg-stripe-5: repeating-linear-gradient(-45deg, rgba(235, 235, 235, 1), rgba(235, 235, 235, 1) 15px, transparent 15px, transparent 30px); --bg-stripe-6: repeating-linear-gradient(45deg, rgba(235, 235, 235, 1), rgba(235, 235, 235, 1) 15px, transparent 15px, transparent 30px); }
html { font-size: 62.5%; overflow-y: auto; line-height: 1.6; }
:where(html:not(.sg-cms *)), :where(figure:not(.sg-cms *)) { padding: 0px; margin: 0px; }
body { font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; font-size: 1.6rem; line-height: 1.8; letter-spacing: 0.01rem; color: rgb(77, 77, 77); }
body.lb-disable-scrolling { position: fixed; width: 100%; }
@media only screen and (max-width: 47.9375em) {
  body { font-size: 1.4rem; line-height: 1.4; }
}
@media only screen and (max-width: 767px) {
  body img { width: auto; height: auto; max-width: 100%; }
}
#wrapper { position: relative; width: 100%; height: 100%; min-width: 32rem; overflow: hidden; }
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body { min-width: 120rem; }
  body #cm-header { width: 120rem; }
  body #wrapper { max-width: 120rem; }
}
.w-brall { word-break: break-all; }
a { color: rgb(77, 77, 77); text-decoration: underline; background-color: transparent; }
a:hover, a:active, a:focus { outline: none; }
a[href*="tel:"] { pointer-events: none; cursor: default; text-decoration: none; color: rgb(77, 77, 77); }
@media only screen and (min-width: 768px) {
  a { transition: 0.3s; }
  a:hover { text-decoration: none; transition: 0.3s; }
  a:hover img { opacity: 0.8; }
}
@media only screen and (max-width: 767px) {
  a[href*="tel:"] { pointer-events: auto; cursor: pointer; }
}
.ov-hover:hover img { opacity: 0.7; }
h1, h2, h3, h4, h5, h6 { line-height: 1.6; }
pre, code, kbd, samp, var, .font_mono { font-size: 1.3rem; line-height: 1.6; }
pre { box-sizing: border-box; width: 100%; padding: 10px; border: 1px solid rgb(221, 221, 221); background-color: rgb(244, 244, 244); overflow-x: auto; }
img { vertical-align: top; margin: 0px; padding: 0px; border: 0px; transition: 0.3s; height: auto; max-width: 100%; }
button { transition: 0.3s; font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
input[type="submit"], input[type="button"] { transition: 0.3s; font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }
form { display: inline; }
label { vertical-align: middle; }
input, select, optgroup, option, textarea { box-sizing: border-box; margin: 0px; font-family: "Noto Sans JP", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; white-space: pre-wrap; }
select { width: 100%; background: rgb(255, 255, 255); border: 1px solid rgb(213, 211, 208); height: 4rem; padding: 0.3rem 2rem; }
input { padding: 0.3rem 2rem; background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); }
input[type="text"] { width: 100%; background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); height: 4rem; padding: 0.3rem 2rem; }
input[type="email"] { width: 100%; background: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); height: 4rem; padding: 0.3rem 2rem; }
input[type="radio"] { margin-right: 0.3em; padding: 0px; }
input[type="checkbox"] { margin-right: 0.3em; padding: 0px; }
input[type="submit"] { appearance: none; margin: 0px; padding: 0px; border: none; background-color: transparent; }
input[type="submit"][disabled] { cursor: default; background-color: rgb(221, 221, 221) !important; transition: none !important; }
input::placeholder, textarea::placeholder { color: rgb(77, 77, 77); }
textarea { width: 100%; padding: 0.3rem 2rem; resize: vertical; overflow: auto; border: 1px solid rgb(0, 0, 0); background: rgb(255, 255, 255); }
picture { display: block; line-height: 1.6; }
figure { margin: 0px; padding: 0px; }
.container { box-sizing: border-box; width: 100%; margin: 0px auto; }
@media only screen and (min-width: 768px) {
  .container { max-width: 114rem; padding: 0px 2rem; }
}
@media only screen and (max-width: 767px) {
  .container { width: 100%; padding: 0px 1.2rem; }
}
.lock-scroll { overflow: hidden; position: relative; height: 100%; }
#cm-header { position: fixed; width: 100%; top: 0px; left: 0px; transition: 0.5s; z-index: 99; }
#cm-header a { font-size: 1.4rem; text-decoration: none !important; }
#cm-header .header-inner { width: 100%; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; }
#cm-header .header-inner__logo { position: absolute; top: 0px; left: 0px; }
#cm-header .header-inner__logo img { width: auto; height: 19.2rem; transition: height 0.2s ease-in-out; }
#cm-header .header-inner__right { display: flex; align-items: center; justify-content: flex-end; }
#cm-header.fixed { background: rgb(255, 255, 255); transition: 0.3s linear; }
#cm-header.fixed .header-inner__logo img { width: auto; height: 7rem; transition: height 0.2s ease-in-out; }
@media only screen and (min-width: 1501px) {
  #cm-header .header-inner__right { gap: 3rem; flex: 1 1 0%; }
}
@media only screen and (min-width: 768px) {
  #cm-header .header-inner__right { flex: 1 1 0%; }
}
@media only screen and (max-width: 767px) {
  #cm-header { display: flex; align-items: center; height: 6rem; }
  #cm-header .header-inner__logo { position: relative; }
  #cm-header .header-inner__logo img { width: auto; height: 6rem !important; }
  #cm-header .header-inner__right { width: calc(100% - 8rem); }
  #cm-header .header-inner__right .h-btn { width: calc(100% - 4.5rem); }
}
.list-btn-side { display: flex; justify-content: flex-end; width: 100%; }
.list-btn-side__item { width: 19rem; }
.list-btn-side__link { position: relative; display: flex; align-items: center; justify-content: center; gap: 0.7rem; width: 100%; height: 7rem; color: rgb(255, 255, 255); font-weight: bold; text-decoration: none; }
.list-btn-side__link.btn-WEB { background: var(--bg-yellow); }
.list-btn-side__link.btn-school { background: var(--bg-blue); }
.list-btn-side__txt { line-height: 1.3; }
@media only screen and (max-width: 767px) {
  .list-btn-side__item { width: 50%; max-width: 10rem; }
  .list-btn-side__link { height: 6rem; gap: 0.5rem; }
  .list-btn-side__icon { height: auto; }
  .list-btn-side__txt { font-size: 0.8rem; }
  .list-btn-side .btn-WEB .list-btn-side__icon { width: 2rem; }
  .list-btn-side .btn-school .list-btn-side__icon { width: 2.7rem; }
}
@media only screen and (min-width: 1501px) {
  .show-from-1500 { display: none; }
}
.trigger-menu { background: rgb(57, 57, 57); transform: rotate(0deg); transition: 0.5s ease-in-out; cursor: pointer; display: block; border: none; z-index: 9999; }
.trigger-menu span { display: block; position: absolute; width: 2.4rem; height: 0.2rem; background: rgb(255, 255, 255); opacity: 1; left: 0px; right: 0px; margin: auto; transform: rotate(0deg); transition: 0.25s ease-in-out; }
.trigger-menu span:nth-child(1) { top: 1.5rem; transform-origin: left center; }
.trigger-menu span:nth-child(2) { top: 0px; bottom: 0px; margin: auto; transform-origin: left center; }
.trigger-menu span:nth-child(3) { bottom: 1.5rem; transform-origin: left center; }
.trigger-menu.active { background: rgb(255, 255, 255); }
.trigger-menu.active span { background: rgb(57, 57, 57); }
.trigger-menu.active span:nth-child(1) { transform: rotate(45deg); left: 0.3rem; top: 1.5rem; }
.trigger-menu.active span:nth-child(2) { opacity: 0; }
.trigger-menu.active span:nth-child(3) { transform: rotate(-45deg); left: 0.3rem; bottom: 1.5rem; }
.trigger-menu.active .txt { color: rgb(57, 57, 57); }
@media only screen and (min-width: 1501px) {
  .trigger-menu { display: none; }
}
@media only screen and (max-width: 1500px) {
  .trigger-menu { width: 14.5rem; height: 7rem; display: flex; align-items: center; justify-content: space-evenly; }
  .trigger-menu .icon { position: relative; width: 2.4rem; height: 5rem; }
  .trigger-menu .txt { font-size: 1.6rem; font-weight: bold; color: rgb(255, 255, 255); }
}
@media only screen and (max-width: 767px) {
  .trigger-menu { width: 6rem; height: 6rem; }
  .trigger-menu .txt { display: none; }
}
.l-menu_contents .gnav { width: 100%; }
.l-menu_contents .gnav__link { position: relative; display: inline-block; text-decoration: none; }
@media only screen and (min-width: 1501px) {
  .l-menu_contents .gnav .cm-arr::before { display: none; }
}
@media only screen and (min-width: 768px) {
  .l-menu_contents { display: flex; align-items: center; justify-content: flex-end; gap: 3rem; }
  .l-menu_contents .gnav { display: flex; gap: 4rem; justify-content: flex-end; }
  .l-menu_contents .gnav__link:hover.cm-arr::before { border-color: var(--bg-yellow); }
}
@media only screen and (max-width: 1500px) {
  .l-menu_contents { position: absolute; top: 100%; right: -32rem; width: 100%; max-width: 32rem; background: rgb(255, 255, 255); z-index: 9999; opacity: 0; visibility: hidden; transition: 0.5s; border: none; padding: 0px 1.5rem; overflow: auto; }
  .l-menu_contents .gnav { display: block; text-align: center; }
  .l-menu_contents .gnav__item { width: 100%; border-bottom: 1px solid rgb(223, 223, 223); }
  .l-menu_contents .gnav__link { width: 100%; text-align: left; padding: 1.5rem; }
  .l-menu_contents.is-visible { opacity: 1; visibility: visible; right: 0px; }
}
@media only screen and (max-width: 767px) {
  .l-menu_contents { width: 100%; max-width: 100%; }
  .l-menu_contents.is-visible { height: 100vh; }
}
.nav-link { position: relative; z-index: 3; text-decoration: none !important; }
.nav-link::after { position: absolute; content: ""; background: repeating-linear-gradient(45deg, var(--bg-blue), var(--bg-blue) 2px, var(--bg-yellow) 2px, var(--bg-yellow) 4px); width: 0px; height: 2px; bottom: 0px; left: 0px; margin: auto; transition: 0.5s; z-index: -1; }
@media only screen and (min-width: 768px) {
  .nav-link:hover { color: var(--co-yellow) !important; }
  .nav-link:hover::after { width: 100%; }
}
.btn-contact { display: flex; align-items: center; justify-content: center; background: var(--bg-yellow); width: 4.5rem; height: 4.5rem; }
.btn-contact img { width: 2rem; height: auto; }
#cm-footer .sec-infor .list-time__day.w-set { width: 8.5rem; min-width: 8.5rem; }
@media only screen and (min-width: 768px) {
  #cm-footer .list-btn-side { display: none; }
}
.f-gnav { background: var(--bg-yellow); }
.f-gnav__list { display: flex; justify-content: center; flex-wrap: wrap; }
.f-gnav__link { position: relative; display: inline-block; padding: 0px 2.5rem; text-decoration: none; color: rgb(56, 56, 56); line-height: 1; }
.f-gnav__link::after { position: absolute; content: ""; background: rgb(56, 56, 56); width: 1px; height: 1.7rem; top: 0px; bottom: 0px; left: 0px; margin: auto; }
.f-gnav__link::before { position: absolute; content: ""; background: rgb(56, 56, 56); width: 1px; height: 1.7rem; top: 0px; bottom: 0px; right: -1px; margin: auto; }
@media only screen and (min-width: 768px) {
  .f-gnav { padding: 3rem 0px; }
  .f-gnav__link { margin: 1.5rem 0px; }
  .f-gnav__link:hover { color: var(--co-blue); }
}
@media only screen and (max-width: 767px) {
  .f-gnav { padding: 1rem 0px; }
  .f-gnav__link { padding: 0px 1.5rem; margin: 1rem 0px; }
}
.sec-infor { width: 100%; }
.sec-infor__main-infor { position: relative; }
.sec-infor .txt-eng { color: rgb(235, 235, 235); writing-mode: vertical-rl; font-weight: 900; left: 0px; top: 0px; line-height: 0.86; z-index: -1; }
.sec-infor__ttl { position: absolute; writing-mode: vertical-rl; top: 0px; }
.sec-infor .inner-infor { position: relative; max-width: 100%; }
.sec-infor .inner-infor__head { display: flex; align-items: center; height: 12.8rem; margin-bottom: 3rem; }
.sec-infor .inner-infor__logo { width: 12.8rem; }
.sec-infor .inner-infor__txt { width: calc(100% - 12.8rem); text-align: center; font-size: 2.4rem; font-weight: bold; }
.sec-infor .inner-infor__txt span { display: block; width: 100%; font-size: 1.2rem; }
.sec-infor .inner-infor .style-table01 { border-top: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); }
.sec-infor__map { width: 100%; }
@media only screen and (min-width: 768px) {
  .sec-infor { display: flex; justify-content: space-between; padding-top: 7rem; }
  .sec-infor__main-infor { width: 48.7%; display: flex; justify-content: flex-end; }
  .sec-infor .txt-eng { font-size: 15rem; left: 4%; }
  .sec-infor__ttl { left: -10rem; font-size: 2.8rem; }
  .sec-infor .inner-infor { width: 53rem; }
  .sec-infor .inner-infor__head { height: 12.8rem; margin-bottom: 3rem; }
  .sec-infor .inner-infor__logo { width: 12.8rem; }
  .sec-infor .inner-infor__txt { width: calc(100% - 12.8rem); font-size: 2.4rem; }
  .sec-infor .inner-infor__txt span { font-size: 1.2rem; }
  .sec-infor__map { width: 48.7%; }
  .sec-infor__map iframe { width: 100%; height: 100%; }
  .sec-infor .txt-eng { font-size: 15rem; }
  .sec-infor .style-table01 tr th, .sec-infor .style-table01 tr td { padding: 2rem 0px; font-size: 1.4rem; }
  .sec-infor .style-table01 tr th { width: 14.5rem; }
  .sec-infor .style-table01 tr td { width: calc(100% - 14.5rem); }
  .sec-infor .style-table01 tr td .list-time__item { margin-bottom: 0px; }
}
@media only screen and (max-width: 1366px) {
  .sec-infor .txt-eng { font-size: 7rem; }
  .sec-infor__ttl { left: -8rem; }
  .sec-infor .inner-infor { width: 47rem; }
}
@media only screen and (max-width: 767px) {
  .sec-infor { padding-top: 3.5rem; }
  .sec-infor .txt-eng { font-size: 3.8rem; }
  .sec-infor .style-table01 tr th, .sec-infor .style-table01 tr td { padding: 1rem 0px; }
  .sec-infor .inner-infor { width: 30rem; margin-left: auto; }
  .sec-infor .inner-infor__head { width: 30rem; height: 7rem; display: flex; margin-right: 0px; }
  .sec-infor .inner-infor__logo { height: 7rem; width: 7rem; }
  .sec-infor .inner-infor__txt { width: calc(100% - 7rem); font-size: 1.7rem; }
  .sec-infor .inner-infor__txt span { font-size: 1rem; }
  .sec-infor .inner-infor .style-table01 { width: 30rem; margin-left: auto; }
  .sec-infor__ttl { left: -5rem; }
  .sec-infor__map { margin-top: 2rem; }
}
@media only screen and (min-width: 768px) {
  .sec-contact { margin: 1rem 0px 5rem; }
}
@media only screen and (max-width: 767px) {
  .sec-contact { margin: 1rem 0px 2.5rem; }
}
.list-socal { display: flex; justify-content: center; gap: 3rem; text-align: center; font-size: 1.2rem; line-height: normal; }
.list-socal__link { text-decoration: none; }
.list-socal__txt { margin-top: 0.5rem; }
@media only screen and (min-width: 768px) {
  .list-socal { margin-top: 4rem; }
  .list-socal__link:hover { opacity: 0.7; }
}
@media only screen and (max-width: 767px) {
  .list-socal { margin-top: 2rem; }
}
.copyright { background: rgb(56, 56, 56); text-align: center; padding: 1rem 0px; color: rgb(255, 255, 255); font-size: 1.2rem; }
.copyright::before { content: "Copyright 2026 PAL BALL"; }
#page-up { display: none; position: fixed; right: 2%; bottom: 6rem; z-index: 9; }
#page-up a { position: relative; display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; border: 2px solid var(--bg-yellow); background: var(--bg-yellow); text-decoration: none; overflow: hidden; transition: 0.5s; z-index: 2; }
#page-up a::after { position: absolute; content: ""; width: 0px; height: 0px; background: var(--bg-blue); inset: 0px; margin: auto; transition: 0.5s; z-index: -1; }
#page-up a::before { content: ""; position: absolute; inset: 0px; margin: auto; width: 0px; height: 0px; border-style: solid; border-color: rgb(77, 77, 77); border-image: initial; border-width: 0px 1px 1px 0px; display: inline-block; padding: 4px; transform: rotate(-135deg); transition: 0.3s; }
@media only screen and (min-width: 768px) {
  #page-up a:hover::after { width: 100%; height: 100%; transition: 0.5s; }
  #page-up a:hover::before { border-color: rgb(255, 255, 255); }
}
@media only screen and (min-width: 768px) {
  #page-up { bottom: 19rem; }
}
#cm-main { margin-top: var(--headerH); }
.a-absolute { position: absolute; inset: 0px; z-index: 9; }
.sec-WEB__ttl { color: rgb(255, 255, 255); text-align: center; }
@media only screen and (min-width: 768px) {
  .sec-WEB { background: url("https://pal-ball.com/wp-content/themes/pal-ball/assets/images/top/WEB-bg.webp") center top / cover no-repeat; }
  .sec-WEB__ttl { font-size: 3.6rem; margin-bottom: 6rem; }
}
@media only screen and (max-width: 767px) {
  .sec-WEB { background: url("https://pal-ball.com/wp-content/themes/pal-ball/assets/images/top/WEB-bg.webp") left top / cover no-repeat; }
  .sec-WEB__ttl { font-size: 2rem; margin-bottom: 3rem; }
}
.list-banner { width: 100%; display: flex; justify-content: center; flex-wrap: wrap; color: rgb(255, 255, 255); }
.list-banner__banner { text-align: center; box-sizing: border-box; }
.list-banner__banner.banner-black { background: url("https://pal-ball.com/wp-content/themes/pal-ball/assets/images/top/WEB-icon01.webp") center top 0.5rem no-repeat rgb(56, 56, 56); }
.list-banner__banner.banner-blue { background: url("https://pal-ball.com/wp-content/themes/pal-ball/assets/images/top/WEB-icon02.webp") center top 3rem no-repeat rgb(50, 177, 202); }
.list-banner__banner .cm-btn { margin-top: 2rem; }
@media only screen and (min-width: 768px) {
  .list-banner { gap: 5rem; }
  .list-banner__banner { width: calc(50% - 2.5rem); padding: 4rem; }
  .list-banner__ttl { font-size: 2.4rem; margin-bottom: 2rem; }
}
@media only screen and (max-width: 767px) {
  .list-banner { gap: 1.5rem; margin-bottom: 2rem; }
  .list-banner__banner { width: 100%; padding: 2rem; }
  .list-banner__ttl { font-size: 1.8rem; margin-bottom: 1rem; }
}
.list-btn { width: 100%; display: flex; flex-wrap: wrap; }
.list-btn .cm-btn { width: 100%; }
@media only screen and (min-width: 768px) {
  .list-btn { justify-content: center; gap: 1.5rem; }
}
@media only screen and (max-width: 767px) {
  .list-btn { justify-content: center; max-width: 30rem; margin: auto; }
  .list-btn__item { width: 100%; text-align: center; }
}
@media only screen and (min-width: 768px) {
  .sec-cont { padding: 7rem 0px; }
}
@media only screen and (max-width: 767px) {
  .sec-cont { padding: 3.5rem 0px; }
}
.inner-txt p + p { margin-top: 1.5rem; }
@media only screen and (min-width: 768px) {
  .inner-txt p + p { margin-top: 3rem; }
}
.icon-zoom { position: relative; display: block; overflow: hidden; }
.icon-zoom::before { position: absolute; display: inline-block; content: ""; z-index: 3; right: 1rem; bottom: 1rem; width: 4rem; height: 4rem; border-radius: 50%; background-image: url("https://pal-ball.com/wp-content/themes/pal-ball/assets/common_img/lightbox/icon-zoom.svg"); background-repeat: no-repeat; background-position: center center; background-size: 2.2rem 2.2rem; background-color: rgba(0, 0, 0, 0.5); }
@media only screen and (min-width: 768px) {
  .icon-zoom img { transition: transform 0.5s; }
  .icon-zoom:hover img { transform: scale(1.06); }
}
.style-table01 { width: 100%; }
.style-table01 tr { vertical-align: top; text-align: left; }
.style-table01 tr:not