---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="コンセプト"
  description="茅ヶ崎で30年以上、地域と共に。バリューフィットネスでクオリティライフを提供するパルバル湘南スポーツクラブのコンセプトページです。"
  bodyClass="p-concept"
>
<main id="cm-main">
  <section class="ttl-page">
    <div class="container">
      <h1>コンセプト</h1>
    </div>
  </section>
  <div class="breadcrumb">
    <div class="container">
      <ul id="breadcrumb">
        <li><a href="/"><span>HOME</span></a></li>
        <li><span>コンセプト</span></li>
      </ul>
    </div>
  </div>
  <section class="main-cont">
    <div class="sec-cont pb00">
      <div class="box-concept stripe-bottom-right stripe-bottom-right--white" id="concept-01">
        <div class="box-concept__img">
          <img src="/images/concept/img_3.webp" alt="バリューフィットネス Make クオリティーLife" width="1512" height="532" />
        </div>
        <div class="container">
          <div class="box-concept__txt box-blue">
            <h2 class="box-concept__ttl ttl-blue">バリューフィットネス <br class="show-sp" />Make クオリティLife</h2>
            <div class="inner-txt">
              <p>茅ヶ崎で30年以上、地域と共に。</p>
              <p>バルバル湘南スポーツクラブは、地域の皆さまと共に歩んできました。<br />私たちの使命は、フィットネスを特別なものではなく、誰もが気軽に楽しめるライフスタイルの一部として提供すること。<br />特に、日々の仕事や家事に追われている、ごく普通に生活を送る皆さまにこそ、心身のリフレッシュや健康維持はもちろん、体力向上やストレス解消、仲間との交流の場として活用していただきたいと考えています。<br />圧倒的なプレミアムプライスで、皆さまの生活の質を高めるフィットネスライフに貢献してまいります。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="sec-cont-larger box-concept stripe-top-left stripe-top-left--white" id="concept-02">
        <div class="stripe-bottom-right stripe-bottom-right--w46p">
          <div class="box-concept__img">
            <img src="/images/concept/img_4.webp" alt="時短フィットネスMakeクオリティーライフ" width="1368" height="627" />
          </div>
          <div class="container">
            <div class="box-concept__txt">
              <h2 class="box-concept__ttl">時短フィットネス<br class="show-sp" />MakeクオリティLife</h2>
              <div class="inner-txt">
                <p>人生は一度きり。<br />時はあっという間に過ぎる。<br />大切な時間を無駄にはできない。</p>
                <p>だから、私たちは短時間で効果的なトレーニングを提供することにこだわりました。</p>
                <p>そのために数あるマシンの中から、最高の効果を追求するために選んだのが、ノーチラスマシン。<br />ノーチラスは、筋肉の動きに合わせて最適な負荷を自動調整するノーチラスカム搭載の高性能なマシンで、最小のセット数で効率的なトレーニングを実現します。</p>
                <p>そしてこの度、お客さまに最高のトレーニング環境を提供するため、トレーニングマシンを全面ノーチラスに入れ替えました。</p>
                <p>短時間でトレーニングを終え、家族との時間、趣味の時間、自分だけの時間を大切にしてください。<br />さあ、最新モデルのノーチラスマシンで、軽やかに人生をエンジョイしましょう！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sec-cont-larger" id="concept-03">
        <div class="container">
          <ul class="list-three-img">
            <li class="list-three-img__item">
              <p class="list-three-img__img">
                <img src="/images/concept/img_5.webp" alt="フィットネス" width="354" height="230" />
              </p>
              <p class="list-three-img__btn">
                <a href="/fitness/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">フィットネス</a>
              </p>
            </li>
            <li class="list-three-img__item">
              <p class="list-three-img__img">
                <img src="/images/concept/img_6.webp" alt="キッズスイミング" width="354" height="230" />
              </p>
              <p class="list-three-img__btn">
                <a href="/kids_swimming/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズスイミング</a>
              </p>
            </li>
            <li class="list-three-img__item">
              <p class="list-three-img__img">
                <img src="/images/concept/img_7.webp" alt="キッズダンス" width="354" height="230" />
              </p>
              <p class="list-three-img__btn">
                <a href="/kids_dance/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズダンス</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-cont sec-WEB">
    <div class="container">
      <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp" />こちらから</h2>
      <div class="list-banner">
        <div class="list-banner__banner banner-black">
          <h3 class="list-banner__ttl">フィットネス</h3>
          <p>WEBより入会手続きを行ってください。</p>
          <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&SMBC=1" target="_blank" rel="noopener" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
        </div>
        <div class="list-banner__banner banner-blue">
          <h3 class="list-banner__ttl">キッズスクール</h3>
          <p>入会前の体験レッスンはこちらからお申し込みください。</p>
          <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" rel="noopener" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
        </div>
      </div>
      <ul class="list-btn">
        <li class="list-btn__item">
          <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
        </li>
        <li class="list-btn__item">
          <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
        </li>
      </ul>
    </div>
  </section>
</main>
</Layout>
