---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="よくある質問 / お問い合わせ"
  description="パルバル湘南スポーツクラブへのよくある質問とお問い合わせはこちら。"
  bodyClass="p-contact"
>
<main id="cm-main">
    <section class="ttl-page">
        <div class="container">
            <h1>よくある質問 / お問い合わせ</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <div class="container">
            <ul id="breadcrumb">
                <li>
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <span>よくある質問 / お問い合わせ</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="main-cont">
        <div class="sec-cont">
            <div class="container">
                <div class="page-index">
                    <p class="page-index__ttl">page index</p>
                    <ul class="page-index__anchor-link anchor-link">
                        <li class="anchor-link__item">
                            <a href="#faq" class="anchor-link__link cm-arr cm-arr--down">
                                <span>よくある質問</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#contact" class="anchor-link__link cm-arr cm-arr--down">
                                <span>お問い合わせ</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#pp" class="anchor-link__link cm-arr cm-arr--down">
                                <span>プライバシーポリシー</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="part-faq" id="faq">
            <div class="part-faq__head stripe-top-right">
                <div class="container">
                    <h2 class="cm-ttl01">
                        <span class="txt-eng">faq</span>
                        <span class="txt-jp">よくある質問</span>
                    </h2>
                    <ul class="anchor-link--inner anchor-link">
                                                <li class="anchor-link__item">
                            <a href="#faq-2" class="anchor-link__link cm-arr cm-arr--down">
                                <span>フィットネス</span>
                            </a>
                        </li>
                                                <li class="anchor-link__item">
                            <a href="#faq-4" class="anchor-link__link cm-arr cm-arr--down">
                                <span>キッズスクール</span>
                            </a>
                        </li>
                                                <li class="anchor-link__item">
                            <a href="#faq-6" class="anchor-link__link cm-arr cm-arr--down">
                                <span>施設全般</span>
                            </a>
                        </li>
                                            </ul>
                </div>
            </div>
            <div class="part-faq__body stripe-bottom-left">
                <div class="container">
                
                    <div id="faq-2">
                        <h2 class="cm-ttl2">フィットネス</h2>
                        <div class="acc-list">
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">会費の支払い方法はクレジットカード決済のほか、口座引き落としも可能ですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>会費のお支払い方法は、クレジットカード決済のみとなります。口座引き落としなど、他のお支払い方法には対応しておりませんので予めご了承ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">初めてジムに通う場合、何をすれば良いですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>初心者の方でも安心していただけるよう、スタッフが常駐し、ジム利用方法やマシン使用方法をご案内いたします。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">レッスンは初心者（未経験）でも参加できますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>初心者（未経験）の方もご自分の出来る範囲でぜひいろいろなレッスンにご参加ください。レッスン開始時間までにスタジオへお集まりください。レッスン予約は不要です。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">どのようなプログラムがありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>ヨガやピラティスのほか、ダンス系、トレーニング系、アクアビクス、泳法レッスンなど豊富なプログラムをご用意しております。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">駐車場・駐輪場はありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>駐輪場は40台、駐車場は80台分ございます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">刺青、タトゥーがあるのですが、利用できますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>申し訳ございませんが、ご利用いただけません。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">ジムでのマナーを教えてください。</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>周囲の方への配慮として、ストレッチエリアやウエイトマシンでの長時間の休憩・雑談は禁止です。また、各マシン使用後は汗や汚れのお拭き取りにご協力ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">入会完了メールが届かないのですが…</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>「pal-ball@hsc-g.co.jp」からのメール受信設定（迷惑メール設定やドメイン設定）を確認してください。それでも解消されない場合は、手続き時間内にフロントへご連絡ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">自分のクレジットカードで家族分も決済できますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>ご自身のクレジットカードで、家族分も含めた複数の決済が可能です。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">休会制度はありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>休会制度はございません。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">レンタル用品は何がありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>レンタル用品はシューズとタオルをご用意しております。（各種300円税別　330円税込）</p>
                                </div>
                            </div>
                                                    </div>
                    </div>
                    
                    <div id="faq-4">
                        <h2 class="cm-ttl2">キッズスクール</h2>
                        <div class="acc-list">
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">はじめての習いごとですが大丈夫ですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>初めての環境でお子様の反応はご心配かと思いますが、当スクールでは体験を行っております。経験豊富なスタッフがお子様の初めての習い事を全力でサポートさせていただきますので、ご安心ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">体験は可能ですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>体験申込方法はHP内の専用フォームより24時間受付可能です。定員になり次第受付終了となります。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">他のスクールより移籍する場合はどこからスタートになりますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>体験時にお子様の技術を確認させていただき、スタートのレベルを決定させていただきます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">駐車場・駐輪場はありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>駐輪場は40台、駐車場は80台分ございます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">スクールバスはありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>スクールバスもございます。詳しくは施設紹介ページ内の「<a class="co-yellow" href="https://buscatch.net/scp/pal-ball/bus_stop_map#">スクールバス</a>」よりご確認ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">お休みした場合の振替はありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>自己都合によるお休みの場合、月に2回まで振替が可能となります。レッスン当日の9時までに「れんらくアプリ」より欠席登録をお願いします。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">休会はできますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>休会制度がございます。前月10日までにフロントにてお手続きをしていただき、休会費2,000円（税込2,200円）を申し受けます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">会費の支払い方法はクレジットカードですか？口座引き落としですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>口座引き落としとなります。手続き時にキャッシュカードもしくは、口座番号の分かるもの（通帳）をご持参ください。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">アームヘルパーは使用しますか。</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>安全性、カリキュラム内容、お子様の泳力から判断して着用する場合がございます。</p>
                                </div>
                            </div>
                                                    </div>
                    </div>
                    
                    <div id="faq-6">
                        <h2 class="cm-ttl2">施設全般</h2>
                        <div class="acc-list">
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">駐車場・駐輪場はありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>駐輪場は40台、駐車場は80台分ございます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">クラブ内で食事は可能ですか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>3階コミュニティスペースにて飲食可能です。飲料自動販売機もございます。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">館内で飲み物は販売していますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>3階コミュニティスペースに自動販売機が設置されています。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">スパにはアメニティはありますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>リンスインシャンプー、ボディソープをご用意しています。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">館内で現金は使用できますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>原則、現金は取り扱っておりませんが、飲み物の自販機のみ現金対応しております。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">現金の両替は行っていますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>現金の両替は行っておりません。自動販売機利用時は小銭のご用意をお願いします。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">スパ（浴室）でのマナーを教えてください。</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>浴槽入浴時は必ず掛湯をし、サウナ入室前は掛湯またはシャワーを行い、会話の際も周囲への配慮をお願いします。</p>
                                </div>
                            </div>
                                                        <div class="acc-list__item">
                                <div class="acc-list__head">
                                    <h3 class="acc-list__ttl cm-arr cm-arr--arr-white cm-arr--down">刺青、タトゥーがあるのですが、利用できますか？</h3>
                                </div>
                                <div class="acc-list__body">
                                    <p>申し訳ございませんが、ご利用いただけません。</p>
                                </div>
                            </div>
                                                    </div>
                    </div>
                                    </div>
            </div>
        </div>
        <div class="part-contact" id="contact">
            <div class="sec-cont-larger part-contact__form stripe-top-right stripe-top-right--white">
                <div class="container">
                    <h2 class="cm-ttl01">
                        <span class="txt-eng txt-eng--gray">form</span>
                        <span class="txt-jp">お問い合わせ</span>
                    </h2>
                    <p class="text-center txt-m">ご不明点、ご質問等は以下フォームよりお気軽にお問い合わせください。<br>迅速な回答を心がけておりますが、お急ぎの場合は施設までお電話でお問い合わせください。</p>
                    <p class="part-contact__tel cm-btn btn-shadow-blur">
                        <a href="tel:0467-54-4411">0467-54-4411</a>
                    </p>
                    <div class="part-contact__time">
                        <div class="inner_part">
                            <p>■電話受付時間</p>
                            <ul class="list-time">
                                <li class="list-time__item">
                                    <span class="list-time__day w-set text-left">月～金曜日</span>
                                    <span>：10:00～21:00　※水曜日除く（フィットネスのみ）</span>
                                </li>
                                <li class="list-time__item">
                                    <span class="list-time__day w-set text-left">土曜日</span>
                                    <span>：10:00～19:00</span>
                                </li>
                                <li class="list-time__item">
                                    <span class="list-time__day w-set text-left">日曜・祝日</span>
                                    <span>：10:00～18:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form method="post" action="/api/contact" class="contact-form">
                        <table class="table-form_set">
                            <tbody>
                                <tr>
                                    <td>お名前<span class="rec">必須</span></td>
                                    <td><input type="text" name="name" class="form-control" required placeholder="例：山田 太郎" /></td>
                                </tr>
                                <tr>
                                    <td>メールアドレス<span class="rec">必須</span></td>
                                    <td><input type="email" name="email" class="form-control" required placeholder="例：info@example.com" /></td>
                                </tr>
                                <tr>
                                    <td>電話番号<span class="any">任意</span></td>
                                    <td><input type="tel" name="phone" class="form-control" placeholder="例：0467-54-4411" /></td>
                                </tr>
                                <tr>
                                    <td>カテゴリ<span class="any">任意</span></td>
                                    <td>
                                        <select name="category" class="form-control">
                                            <option value="">--</option>
                                            <option value="フィットネスについて">フィットネスについて</option>
                                            <option value="キッズスイミングについて">キッズスイミングについて</option>
                                            <option value="キッズダンスについて">キッズダンスについて</option>
                                            <option value="パーソナルトレーニングについて">パーソナルトレーニングについて</option>
                                            <option value="施設について">施設について</option>
                                            <option value="入会について">入会について</option>
                                            <option value="その他">その他</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>お問い合わせ内容<span class="rec">必須</span></td>
                                    <td><textarea name="message" class="form-control" rows="6" required placeholder="お問い合わせ内容をご入力ください"></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="sub-form">
                            <div class="sub-form_submit">
                                <input type="submit" value="送信する" class="btn_submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>
        <div class="sec-cont form-contact stripe-top-left" id="form-contact">
            <div class="container">
                <h2 class="cm-ttl3">
                    <span>お問い合わせフォーム</span>
                </h2>
                <p>お問い合わせフォームをご利用の際は、必ず「<a href="#pp" class="co-yellow">プライバシーポリシー</a>」のご一読をお願いします。 <br>その内容に同意していただけましたら下記フォームに必要事項をご入力の上、「入力内容確認画面」ボタンを押してください。</p>
                
<div class="wpcf7 js" id="wpcf7-f155-o1" lang="ja" dir="ltr" data-wpcf7-id="155">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/contact/#wpcf7-f155-o1" method="post" class="wpcf7-form init form" aria-label="コンタクトフォーム" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="155">
<input type="hidden" name="_wpcf7_version" value="6.0.3">
<input type="hidden" name="_wpcf7_locale" value="ja">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f155-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="form-content">
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title hissu">お問い合わせ項目</strong>
    </dt>
    <dd class="form-content__dd">
      <ul class="list-cont list-checkbox">
        <li>
          <span class="wpcf7-form-control-wrap" data-name="inquiry_item"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="checkbox" name="inquiry_item[]" value="施設について"><span class="wpcf7-list-item-label">施設について</span></label></span></span></span>
        </li>
        <li>
          <span class="wpcf7-form-control-wrap" data-name="inquiry_item"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required hidden-invalid-tip"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="checkbox" name="inquiry_item[]" value="採用について"><span class="wpcf7-list-item-label">採用について</span></label></span></span></span>
        </li>
        <li>
          <span class="wpcf7-form-control-wrap" data-name="inquiry_item"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required hidden-invalid-tip"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="checkbox" name="inquiry_item[]" value="その他"><span class="wpcf7-list-item-label">その他</span></label></span></span></span>
        </li>
      </ul>
    </dd>
  </dl>
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title hissu">会員種別</strong>
    </dt>
    <dd class="form-content__dd">
      <ul class="list-cont list-radio01">
        <li>
            <span class="wpcf7-form-control-wrap" data-name="radio"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="radio" name="radio" value="未入会の方" checked="checked"><span class="wpcf7-list-item-label">未入会の方</span></label></span></span></span>
        </li>
        <li>
            <span class="wpcf7-form-control-wrap" data-name="radio"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="radio" name="radio" value="スクール会員の方"><span class="wpcf7-list-item-label">スクール会員の方</span></label></span></span></span>
        </li>
        <li>
            <span class="wpcf7-form-control-wrap" data-name="radio"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last" style="margin: 0px;"><label><input type="radio" name="radio" value="フィットネス会員の方"><span class="wpcf7-list-item-label">フィットネス会員の方</span></label></span></span></span>
        </li>
      </ul>
    </dd>
  </dl>
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title hissu">お名前</strong>
    </dt>
    <dd class="form-content__dd">
      <p>
        <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required ipt_issu" autocomplete="name" aria-required="true" aria-invalid="false" placeholder="フルネームでご入力ください" value="" type="text" name="your-name"></span>
      </p>
    </dd>
  </dl>
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title hissu">メールアドレス</strong>
    </dt>
    <dd class="form-content__dd">
      <p>
        <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="60" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@pal-ball.com" value="" type="email" name="your-email"></span>
      </p>
      <div class="mt20">
        <p class="list-dd__ttl">確認のためもう一度ご入力ください。</p>
        <p>
          <span class="wpcf7-form-control-wrap" data-name="your-email-confirm"><input size="60" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="sample@pal-ball.com" value="" type="email" name="your-email-confirm"></span>
        </p>
      </div>
    </dd>
  </dl>
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title ninni">電話番号</strong>
    </dt>
    <dd class="form-content__dd">
      <p>
        <span class="wpcf7-form-control-wrap" data-name="your-tel"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-text wpcf7-validates-as-tel ipt_issu" aria-invalid="false" placeholder="繋がりやすい番号をご入力ください" value="" type="tel" name="your-tel"></span>
      </p>
    </dd>
  </dl>
  <dl class="form-content__dl">
    <dt class="form-content__dt">
      <strong class="form-content__title hissu">お問い合わせ内容</strong>
    </dt>
    <dd class="form-content__dd">
      <p class="white-space_pre-wrap">
      <span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="50" rows="5" maxlength="2000" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required txer" aria-required="true" aria-invalid="false" placeholder="お問い合わせ内容をご入力ください" name="your-message"></textarea></span>
      </p>
    </dd>
  </dl>
</div>
<div id="formEnd">
  <div class="label text-center">
    <label>
      <span class="wpcf7-form-control-wrap" data-name="agreement"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item" style="margin: 0px;"><label><input type="checkbox" name="agreement" value="1" id="ck1" aria-invalid="false"><span class="wpcf7-list-item-label"><span>「<a href="#pp" class="co-yellow">プライバシーポリシー</a>」</span>に同意する</span></label></span></span></span>
    <p>※ご同意いただけない場合は送信ができません。</p>
  </label></div>
  <div class="contact-group-btn">
    <div class="contact-btn cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">
      <input class="wpcf7-form-control wpcf7-submit has-spinner" id="submitButton" type="submit" value="入力内容確認画面" disabled=""><span class="wpcf7-spinner" style="display: none;"></span>
      <input type="hidden" name="_cf7msm_multistep_tag" class="wpcf7-form-control wpcf7-multistep cf7msm-multistep" value="{&quot;first_step&quot;:1,&quot;next_url&quot;:&quot;\/contact\/confirm\/&quot;}"><input type="hidden" name="cf7msm-no-ss" value="">
    </div>
  </div>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
            </div>
        </div>
        <div class="sec-cont-larger part-pp stripe-top-right stripe-top-right--white" id="pp">
            <div class="container">
                <h2 class="cm-ttl01 cm-ttl01--white">
                    <span class="txt-eng">privacy policy</span>
                    <span class="txt-jp">プライバシーポリシー</span>
                </h2>
                <p class="text-center txt-m co-white text-shadow">当社は、以下に示す個人情報保護方針を定め、その継続的改善に、全社を挙げて取り組むことをここに宣言いたします。</p>
                <div class="list-column">
                    <div class="list-column__column">
                        <div class="style-box01">
                            <h3 class="style-box01__ttl">個人情報保護方針</h3>
                            <div class="style-box01__body">
                                <h4 class="txt-mm mb20">個人情報の利用目的</h4>
                                <ul class="list-number">
                                    <li>お客さまのご要望に合わせたサービスをご提供するための各種ご連絡。</li>
                                    <li>お問い合わせいただいたご質問への回答のご連絡。</li>
                                </ul>
                                <ul class="list-indent">
                                    <li>・公正かつ適正な手段で、上記目的に必要となる個人情報を収集します。</li>
                                    <li>・要配慮個人情報を取得する際は、ご本人の同意を得るものとします。</li>
                                    <li>・取得した個人情報は、ご本人の同意なしに上記利用目的以外では利用しません。</li>
                                    <li>・情報が漏洩しないよう対策を講じ、従業員だけでなく委託業者も監督します。</li>
                                    <li>・国内外を問わず、法令により認められる場合を除き、ご本人の同意を得ずに第三者に情報を提供しません。</li>
                                    <li>・ご本人からの求めに応じ、当該ご本人の個人情報を開示します。</li>
                                    <li>・公開された個人情報が事実と異なる場合、訂正や削除に応じます。</li>
                                    <li>・個人情報の取り扱いに関する苦情に対し、適切・迅速に対処します。</li>
                                    <li>・本プライバシーポリシーは、当サイト内で適用されるものです。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="list-column__column">
                        <div class="style-box01">
                            <h3 class="style-box01__ttl">Googleアナリティクスの使用について</h3>
                            <div class="style-box01__body">
                                <p>当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使用し、当サイトの利用状況などのデータ収集及び解析を行っております。その際、「Cookie」を通じて、Googleがお客さまのIPアドレスなどの情報を収集する場合がありますが、「Cookie」で収集される情報は個人を特定できるものではありません。<br>収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。<br>なお、当サイトのご利用をもって、上述の方法・目的においてGoogle及び当サイトが行うデータ処理に関し、お客さまにご承諾いただいたものとみなします。</p>
                            </div>
                        </div>
                        <div class="style-box01 style-box01--pd-larger">
                            <h3 class="style-box01__ttl">Googleのプライバシーポリシー</h3>
                            <div class="style-box01__body">
                                <p>
                                    <a href="https://policies.google.com/privacy?hl=ja" target="_blank" class="co-green">www.google.com/intl/ja/policies/privacy/</a><br>
                                    <a href="https://policies.google.com/technologies/partner-sites?hl=ja" target="_blank" class="co-green">www.google.com/intl/ja/policies/privacy/partners/</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box-yellow stripe-top-right">
                        <h3 class="box-yellow__ttl">個人情報に関する問い合わせ先</h3>
                        <div class="box-yellow__body">
                            <div class="inner-body">
                                <p>〒253-0051　神奈川県茅ヶ崎市若松町12-1 <br>（個人情報問い合わせ係）<br>メールアドレス：info＠hsc-g.co.jp<br>TEL：<a href="tel:0467-86-6866">0467-86-6866</a><br class="show-sp">（受付時間　平日10:00～17:00）<br>FAX：0467-87-5207</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>
</main>


</Layout>
