---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="施設紹介"
  description="パルバル湘南スポーツクラブの施設紹介。1F〜4Fの設備、スクールバス、アクセス情報。"
  bodyClass="p-facility"
>
<main id="cm-main">
    <section class="ttl-page">
        <div class="container">
            <h1>施設紹介</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <div class="container">
            <ul id="breadcrumb">
                <li>
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <span>施設紹介</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="main-cont">
        <div class="sec-cont">
            <div class="container">
                <div class="page-index">
                    <p class="page-index__ttl">page index</p>
                    <ul class="page-index__anchor-link anchor-link">
                        <li class="anchor-link__item">
                            <a href="#facility" class="anchor-link__link cm-arr cm-arr--down">
                                <span>設備紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#store_information" class="anchor-link__link cm-arr cm-arr--down">
                                <span>店舗情報</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#access" class="anchor-link__link cm-arr cm-arr--down">
                                <span>アクセス</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#school_bus" class="anchor-link__link cm-arr cm-arr--down">
                                <span>スクールバス</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sec-cont" id="facility">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">facility</span>
                    <span class="txt-jp">設備紹介</span>
                </h2>
                <ul class="list-anchor-facility">
                    <li class="list-anchor-facility__item">
                        <a href="#1F" class="list-anchor-facility__link">
                            <p class="link-ttl">1F<span class="cm-arr cm-arr--down"></span></p>
                            <p class="link-txt">駐輪場・駐車場、プール、スクールフロント、スクールロッカー</p>
                        </a>
                    </li>
                    <li class="list-anchor-facility__item">
                        <a href="#2F" class="list-anchor-facility__link">
                            <p class="link-ttl">2F<span class="cm-arr cm-arr--down"></span></p>
                            <p class="link-txt">エントランス、フロント、ギャラリー</p>
                        </a>
                    </li>
                    <li class="list-anchor-facility__item">
                        <a href="#3F" class="list-anchor-facility__link">
                            <p class="link-ttl">3F<span class="cm-arr cm-arr--down"></span></p>
                            <p class="link-txt">ロッカー・更衣室、プライベートロッカー、浴室、サウナ、コミュニティスペース、ダンススタジオ（Bスタジオ）</p>
                        </a>
                    </li>
                    <li class="list-anchor-facility__item">
                        <a href="#4F" class="list-anchor-facility__link">
                            <p class="link-ttl">4F<span class="cm-arr cm-arr--down"></span></p>
                            <p class="link-txt">トレーニングジム、フリーウェイトコーナー、Aスタジオ</p>
                        </a>
                    </li>
                </ul>
                <div id="1F">
                    <h2 class="cm-ttl-blue">1F</h2>
                    <div class="three-column">
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_3.webp" alt="駐輪場・駐車場" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">駐輪場・駐車場</h3>
                                <p>駐輪場（40台）と駐車場（80台）が併設されています。自転車・お車でもお通いいただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_4.webp" alt="プール" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">プール</h3>
                                <p>25m×6レーンのプールは天井が高く、片側は一面窓で開放感のある空間となっています。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_5.webp" alt="スクールフロント" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">スクールフロント</h3>
                                <p>スクール専用のフロント。安心してお通いいただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_6.webp" alt="スクールロッカー" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">スクールロッカー</h3>
                                <p>スクールフロントからそのままロッカーに繋がり、プールまでも直通なのでお子さま一人でも安心です。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end 1F -->
                <div id="2F">
                    <h2 class="cm-ttl-blue">2F</h2>
                    <div class="three-column">
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_7.webp" alt="エントランス" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">エントランス</h3>
                                <p>ザイル調の床材と湘南のデザインを取り入れた開放的なエントランスとなります。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_8.webp" alt="フロント" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">フロント</h3>
                                <p>笑顔で皆さまをお出迎えいたします。各種手続きから不明点までお気軽にお声掛けください。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_9.webp" alt="ギャラリー" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">ギャラリー</h3>
                                <p>段々状のギャラリースタイル。お客さま同士の待ち合わせ場所としてもご利用いただけます。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end 2F -->
                <div id="3F">
                    <h2 class="cm-ttl-blue">3F</h2>
                    <div class="three-column">
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_10.webp" alt="ロッカー・更衣室" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">ロッカー・更衣室</h3>
                                <p>空いているロッカーはどこでも無料でご利用可能。オプションのご契約で自分専用のプライベートロッカーもご利用いただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_11.webp" alt="プライベートロッカー" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">プライベートロッカー</h3>
                                <p>オプションのご契約で自分専用のプライベートロッカーもご利用いただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_12.webp" alt="浴室" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">浴室</h3>
                                <p>お風呂に浸かって心も身体もリフレッシュ。シャワーブース、カランブースもございます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_13.webp" alt="サウナ" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">サウナ</h3>
                                <p>広々としたサウナにて温活をお楽しみいただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_14.webp" alt="コミュニティスペース" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">コミュニティスペース</h3>
                                <p>休憩や会員さま同士のコミュニケーションの場として、お寛ぎください。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_15.webp" alt="ダンススタジオ（Bスタジオ）" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">ダンススタジオ（Bスタジオ）</h3>
                                <p>お子さまのダンススクールから、大人向けのヨガやピラティス、アクティブ系のレッスンまで、幅広く実施しています。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end 3F -->
                <div id="4F">
                    <h2 class="cm-ttl-blue">4F</h2>
                    <div class="three-column">
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_16.webp" alt="トレーニングジム" width="354" height="230" class="mb10">
                                <img src="/images/facility/img_17.webp" alt="トレーニングジム" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">トレーニングジム</h3>
                                <p>カーディオ（有酸素）マシン8台、筋力トレーニングマシン25台が揃うジムエリア。トレーニングマシンは全面入れ替え。初心者でも最小セットで最大効果を引き出せる最上級マシンです。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_18.webp" alt="フリーウェイトコーナー" width="354" height="230" class="mb10">
                                <img src="/images/facility/img_19.webp" alt="トレーニングジム" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">フリーウェイトコーナー</h3>
                                <p>ベンチプレス1台、スミスマシン1台、ハーフラック2台、ケーブルクロス2台を完備した充実のフリーウェイトコーナーで初心者の方から上級者の方までトレーニングをお楽しみいただけます。</p>
                            </div>
                        </div>
                        <div class="three-column__column">
                            <div class="three-column__img">
                                <img src="/images/facility/img_20.webp" alt="Aスタジオ" width="354" height="230">
                            </div>
                            <div class="three-column__txt">
                                <h3 class="three-column__ttl txt-m">Aスタジオ</h3>
                                <p>ダンス、エアロ、格闘技系、トレーニング系、ヨガ・ピラティス系など多彩で豊富なプログラムに自由にご参加いただけます。</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-center-sp">
                        <a href="/fitness/#facility_introduction" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">マシン一覧はこちら</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger" id="store_information">
            <div class="container">
                <p class="txt-eng">sports club</p>
                <div class="sec-column">
                    <div class="sec-column__left">
                        <h2 class="cm-ttl3">
                            <span class="bg-black co-white txt-vertical">店舗情報</span>
                        </h2>
                    </div>
                    <div class="sec-column__right bg-none p00">
                        <table class="style-table02 table-black">
                            <tbody>
                                <tr>
                                    <th>施設名</th>
                                    <td>パルバル湘南スポーツクラブ</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>〒253-0042<br>神奈川県茅ヶ崎市本村1丁目4-20</td>
                                </tr>
                                <tr>
                                    <th>電話番号</th>
                                    <td>
                                        <a href="tel:0467-54-4411" class="co-white">0467-54-4411</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>営業時間</th>
                                    <td>
                                        <div class="list-time">
                                            <div class="list-time__item">
                                                <p class="list-time__day w-set">月～金曜日：</p>
                                                <p class="list-time__time">
                                                    <span class="time">9:00 ～ 22:00</span>　<br class="show-sp">※水曜日を除く
                                                </p>
                                            </div>
                                            <div class="list-time__item">
                                                <p class="list-time__day w-set">土曜日：</p>
                                                <p class="list-time__time">
                                                    <span class="time">9:00 ～ 20:00</span>
                                                </p>
                                            </div>
                                            <div class="list-time__item">
                                                <p class="list-time__day w-set">日曜・祝日：</p>
                                                <p class="list-time__time">
                                                    <span class="time">9:00 ～ 19:00</span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>休館日</th><td>
                                        <p class="mb05">水曜日（定休日）※水曜日はスイミングのみ営業</p>
                                        <div class="list-time">
                                            <div class="list-time__item">
                                                <p class="list-time__day">夏季休業：</p>
                                                <p class="list-time__time">8/12 ～ 8/16</p>
                                            </div>
                                            <div class="list-time__item">
                                                <p class="list-time__day">年末年始：</p>
                                                <p class="list-time__time">12/28 ～ 1/3</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-center">
                            <a href="/contact/#contact" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">お問い合わせ</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont stripe-top-left stripe-top-left--long access" id="access">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">access</span>
                    <span class="txt-jp">アクセス</span>
                </h2>
                <div class="access__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.7877268760244!2d139.41464829999998!3d35.336092400000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185265a32bf6bb%3A0x3c2e0ebf61423250!2z44OR44Or44OQ44Or5rmY5Y2X44K544Od44O844OE44Kv44Op44OW!5e0!3m2!1sja!2s!4v1735918033215!5m2!1sja!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="access__infor">
                    <h3 class="co-green">電車でお越しの場合</h3>
                    <p>JR東海道線「茅ヶ崎駅」北口下車、徒歩15分</p>
                    <h3 class="co-green">バスでお越しの場合</h3>
                    <p>JR東海道線「茅ヶ崎駅」北口から<br class="show-sp">神奈中バス「藤沢駅北口」行きに乗車、「本村」下車徒歩1分</p>
                    <h3 class="co-green">車をご利用の場合</h3>
                    <p>国道1号線「本村」交差点角<br>一中通りを国道1号線方面に進み、「本村」交差点沿い</p>
                    <p class="mt10">※無料駐車場80台分完備</p>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger pt00 stripe-bottom-right stripe-bottom-right--w46p" id="school_bus">
            <div class="sec-cont school_bus">
                <div class="container">
                    <h2 class="cm-ttl01">
                        <span class="txt-eng">school bus</span>
                        <span class="txt-jp co-white">スクールバス</span>
                    </h2>
                    <p class="school_bus__img">
                        <img src="/images/facility/img_21.webp" alt="スクールバス" width="1008" height="310">
                    </p>
                    <div class="two-column">
                        <div class="two-column__column">
                            <h3 class="two-column__ttl">運行日</h3>
                            <div class="two-column__body" style="height: 203.984px;">
                                <ul class="list-dot list-dot--yellow">
                                    <li>月曜～金曜：15：45～/ 16：45～/ 17：45～</li>
                                    <li>土曜：14：45～ / 15：45～</li>
                                </ul>
                            </div>
                        </div>
                        <div class="two-column__column">
                            <h3 class="two-column__ttl">バスルート</h3>
                            <div class="two-column__body" style="height: 203.984px;">
                                <ul class="list-dot list-dot--yellow">
                                    <li>東海岸・浜須賀・辻堂・浜竹方面</li>
                                    <li>萩園・鶴嶺・円蔵方面</li>
                                    <li>中海岸・南湖・柳島方面</li>
                                    <li>本村・小和田・室田・高田方面</li>
                                    <li>鶴が台・松風台方面</li>
                                </ul>
                            </div>
                            <p class="text-center">
                                <a href="https://buscatch.net/scp/pal-ball/bus_stop_map" target="_blank" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">バスルート・時刻表</a>
                            </p>
                        </div>
                    </div>
                    <div class="box-white">
                        <ul class="list-indent2">
                            <li>※スクールバスのご利用には、設備利用料が必要となります。</li>
                            <li>※スイミングまたはダンススクール生のみご利用可能です。ベビークラス・リトルクラスの会員さまはご利用いただけません。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>
</main>


</Layout>
