---
import Layout from '../layouts/Layout.astro';
import '../styles/top.css';
---

<Layout
  title="パルバル湘南スポーツクラブ"
  description="茅ヶ崎のフィットネス、キッズ水泳・ダンス。バリューフィットネスでクオリティライフを。"
  bodyClass="p-top"
>
        <main id="cm-main">
            <!-- mainvisual -->
            <section class="mainvisual">
                <div class="container">
                    <div class="main-inner">
                        <div class="main-inner__txt">
                            <h1>
                                <img src="/images/top/img_3.webp" alt="MAKE QUALITY LIFE!" width="659" height="485">
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-01">
                <div class="container">
                    <div class="sec-01__head">
                        <h2 class="sec-01__date"><span>2026</span>年<span>4</span>月<span>1</span>日</h2>
                        <div class="sec-01__txt">
                            <h3 class="sec-01__ttl">ジムエリア＆料金体系を完全リニューアルしてNew Open!!</h3>
                            <p>1～2セットで最大の成果を実現するノーチラスマシンを茅ヶ崎で唯一、17台新規導入</p>
                        </div>
                    </div>
                    <p class="main-img show-sp">
                        <img src="/images/top/img_4.webp" alt="sp-main-img">
                    </p>
                    <div class="sec-01__list-banner">
                        <p>
                            <a href="./fitness/#campaign">
                                <img src="/images/top/img_5.png" alt="パパママペア会員" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./fitness/#campaign">
                                <img src="/images/top/img_6.png" alt="3月キャンペーン" width="336" height="168">
                            </a>
                        </p>
                        <p class="show-sp">
                            <a href="./kids_swimming/#Short-term_campaign">
                                <img src="/images/top/img_7.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./kids_swimming/#campaign">
                                <img src="/images/top/img_8.png" alt="スイミング体験会" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./kids_dance/#campaign">
                                <img src="/images/top/img_9.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                        <p class="show-pc">
                            <a href="./kids_swimming/#Short-term_campaign">
                                <img src="/images/top/img_7.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                    </div>
                </div>
            </section>
            <section class="sec-news bg-gray">
                <div class="container">
                    <p class="txt-eng">news</p>
                    <div class="sec-news__main">
                        <div class="sec-news__left">
                            <h2 class="cm__title">お知らせ</h2>
                            <a href="/topics/" class="cm-btn cm-arr cm-arr--right btn-hover">一覧へ</a>
                        </div>
                        <div class="cont-news">
                            <div class="cont-news__list">
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%83%95%e3%82%a3%e3%83%83%e3%83%88%e3%83%8d%e3%82%b9%e6%96%b0%e4%bc%9a%e5%93%a1%e7%a8%ae%e5%88%a5%e3%80%8c%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e3%83%9a%e3%82%a2%e4%bc%9a%e5%93%a1%e3%80%8d%e3%81%ae/" class="cont-news__link btn-hover">
                                            <time datetime="2026-03-20T11:00:42+09:00" class="cont-news__date">2026.03.20</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">フィットネス新会員種別「パパママペア会員」のご案内</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e5%a4%8f%e3%81%ae1day%ef%bc%86%ef%bc%92day%e4%bd%93%e9%a8%93%e4%bc%9a%e3%80%91%e3%82%b9%e3%82%a4%e3%83%9f%e3%83%b3%e3%82%b0%e4%bd%93%e9%a8%93%e7%94%b3%e8%be%bc%e5%8f%97%e4%bb%98%e4%b8%ad/" class="cont-news__link btn-hover">
                                            <time datetime="2026-03-10T12:00:07+09:00" class="cont-news__date">2026.03.10</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【春の1DAY体験会】スイミング体験申込　好評受付中！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e5%b9%b4%e5%a7%8b%e3%81%94%e3%81%82%e3%81%84%e3%81%95%e3%81%a4/" class="cont-news__link btn-hover">
                                            <time datetime="2026-01-01T07:00:31+09:00" class="cont-news__date">2026.01.01</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">年始ごあいさつ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%95%e3%82%a3%e3%83%83%e3%83%88%e3%83%8d%e3%82%b9%e3%80%91%e3%82%a8%e3%82%a2%e3%83%ad%e3%83%90%e3%82%a4%e3%82%af%e3%81%8c%e6%96%b0%e3%81%97%e3%81%8f%e3%81%aa%e3%82%8a%e3%81%be%e3%81%97/" class="cont-news__link btn-hover">
                                            <time datetime="2025-12-17T17:00:03+09:00" class="cont-news__date">2025.12.17</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【フィットネス】エアロバイクが新しくなりました！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e4%b8%ad%e9%ab%98%e7%94%9f%e4%bc%9a%e5%93%a1%e6%96%99%e9%87%91%e6%94%b9%e5%ae%9a%e3%81%8a%e3%82%88%e3%81%b3%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e4%bc%9a%e5%93%a1%e5%af%be%e8%b1%a1%e6%8b%a1%e5%a4%a7/" class="cont-news__link btn-hover">
                                            <time datetime="2025-12-11T09:00:00+09:00" class="cont-news__date">2025.12.11</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">中高生会員料金改定およびパパママ会員対象拡大のご案内</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e5%a4%8f%e5%ad%a3%e4%bc%91%e6%a5%ad%e3%81%ae%e3%81%8a%e7%9f%a5%e3%82%89%e3%81%9b/" class="cont-news__link btn-hover">
                                            <time datetime="2025-11-29T10:00:27+09:00" class="cont-news__date">2025.11.29</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">年末年始休業のお知らせ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e4%bc%9a%e5%93%a1%e3%80%91%e3%81%8a%e5%ad%90%e3%81%95%e3%81%be%e3%81%8c%e3%82%ad%e3%83%83%e3%82%ba%e3%82%b9%e3%82%af%e3%83%bc%e3%83%ab%e3%81%ab%e9%80%9a/" class="cont-news__link btn-hover">
                                            <time datetime="2025-04-30T16:17:24+09:00" class="cont-news__date">2025.04.30</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【パパママ会員】お子さまがキッズスクールに通われている方へ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%aa%e3%83%8b%e3%83%a5%e3%83%bc%e3%82%a2%e3%83%ab%e3%80%91%e3%83%88%e3%83%ac%e3%83%bc%e3%83%8b%e3%83%b3%e3%82%b0%e3%83%9e%e3%82%b7%e3%83%b3%e3%82%92%e3%83%95%e3%83%ab%e3%83%aa%e3%83%8b/" class="cont-news__link btn-hover">
                                            <time datetime="2025-04-01T15:27:05+09:00" class="cont-news__date">2025.04.01</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【リニューアル】トレーニングマシンをフルリニューアルしました！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%83%86%e3%82%b9%e3%83%88%e3%83%88%e3%83%94%e3%83%83%e3%82%af%e3%82%b9-8/" class="cont-news__link btn-hover">
                                            <time datetime="2025-02-03T15:16:36+09:00" class="cont-news__date">2025.02.03</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【2025年4月より】月会費及び営業形態改定のお知らせ</p>
                                        </a>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-fitness">
                <div class="style-box01">
                    <div class="style-box01__img">
                        <img src="/images/top/img_10.webp" alt="fitness-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">fitness</p>
                            <h2 class="cm__title text-center">フィットネス</h2>
                            <p>ジムエリアは短時間で効果的なトレーニングを実現する、ノーチラスインパクトシリーズのマシンに全面入れ替え。会員の方はジム・スタジオ・プール・スパ・サウナの全エリアが利用可能です。</p>
                            <p class="text-center-sp">
                                <a href="/fitness/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">フィットネス</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-kid">
                <div class="style-box01 box-reverse">
                    <div class="style-box01__img">
                        <img src="/images/top/img_11.webp" alt="kids_swimming-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">kids<br>swimming</p>
                            <h2 class="cm__title text-center">キッズスイミング</h2>
                            <p>経験・実績に富んだリオデジャネイロオリンピック競泳日本代表コーチが監修者となり、準備行動段階でのメンタル面に配慮した、発育発達に応じた段階的指導カリキュラムで心と身体を育みます。</p>
                            <p class="text-center-sp">
                                <a href="/kids_swimming/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズスイミング</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="style-box01 kids_dance">
                    <div class="style-box01__img">
                        <img src="/images/top/img_12.webp" alt="kids_dance-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">kids<br>dance</p>
                            <h2 class="cm__title text-center">キッズダンス</h2>
                            <p>現役で活躍しているエイベックス専属のダンス講師や、様々なダンス経歴を持つ講師が直接指導。身体能力の向上はもちろん、コミュニケーション能力や挨拶などの礼儀、自己表現の向上も期待できます。</p>
                            <p class="text-center-sp">
                                <a href="/kids_dance/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズダンス</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-cont sec-concept">
                <div class="container">
                    <div class="sec-concept__main">
                        <div class="sec-concept__left">
                            <img src="/images/top/img_13.webp" alt="PAL-BALL SPORTS CLUB" width="391" height="124">
                        </div>
                        <div class="sec-concept__infor">
                            <div class="sec-concept__txt">
                                <h2 class="sec-concept__ttl">パルバル湘南スポーツクラブ<span>concept</span></h2>
                                <h3 class="sec-concept__sub">バリューフィットネス<br><span><label>メイク・クオリティ・ライフ</label>Make Quality Life</span></h3>
                                <p>茅ヶ崎で30年以上、地域と共に歩むパルバル湘南スポーツクラブ。<br>私たちの使命は、フィットネスを特別なものではなく、誰もが気軽に楽しめるライフスタイルの一部として提供すること。<br>圧倒的なプレミアムプライスと時短フィットネスで、皆さまの生活の質を高めるクオリティライフに貢献します。</p>
                            </div>
                            <div class="sec-concept__btn">
                                <a href="/concept/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">コンセプト</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-facility">
                <div class="container">
                    <p class="txt-eng">FACILITY<br>DESCRIPTION</p>
                    <div class="sec-facility__main">
                        <h2 class="sec-facility__ttl">
                            <span class="txt-ttl">施設紹介</span>
                        </h2>
                        <p class="sec-facility__img sec-facility__img-full">
                            <img src="/images/top/img_14.webp" alt="facility-img01" width="784" height="441">
                        </p>
                        <p class="sec-facility__img sec-facility__img-hafl">
                            <img src="/images/top/img_15.webp" alt="facility-img02" width="384" height="384">
                        </p>
                        <p class="sec-facility__img sec-facility__img-hafl">
                            <img src="/images/top/img_16.webp" alt="facility-img03" width="384" height="384">
                        </p>
                        <ul class="list-btn">
                            <li class="list-btn__item">
                                <a href="/facility/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">施設紹介</a>
                            </li>
                            <li class="list-btn__item">
                                <a href="/fitness/#facility_introduction" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">フィットネスマシン一覧</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="sec-price">
                <div class="container">
                    <p class="txt-eng text-center">price</p>
                    <h2 class="sec-price__ttl">
                        <span>料金案内</span>
                    </h2>
                </div>
                <div class="sec-price__main fitness-main">
                    <p class="txt-eng">fitness</p>
                    <div class="container">
                        <p class="sec-price__icon">
                            <img src="/images/top/img_17.webp" alt="price-icon" width="313" height="343">
                        </p>
                        <h3 class="sec-price__main-sub">フィットネス</h3>
                        <div class="list-price">
                            <div class="list-price__item">
                                <h3 class="list-price__ttl--yellow">夫婦2名+中高生会員で 6,960円</h3>
                                <h4 class="list-price__ttl">パパママペア会員(2名合計)
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">4,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">5,478円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h3 class="list-price__ttl--yellow">親子で通っても月 5,960円</h3>
                                <h4 class="list-price__ttl">パパママ会員(1名)</h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">3,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">4,378円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl"><strong class="co-yellow3 txt-lg">新料金</strong>中高生会員<br><span>対象：中学生・高校生</span>
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number co-yellow3">1,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">2,178円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>下記営業時間のご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">15:00 ～ 21:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">15:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">15:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl">U40会員<br><span>対象：40歳未満</span>
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">3,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">4,378円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl">レギュラー会員<br><span>対象：40歳以上</span>
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">6,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">7,678円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">
                            <a href="/fitness/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">フィットネスの詳細はこちら</a>
                        </p>
                    </div>
                </div>
                <div class="sec-price__main kids_school-main">
                    <p class="txt-eng">kids<br>school</p>
                    <div class="container">
                        <p class="sec-price__icon kid_school-icon">
                            <img src="/images/top/img_18.webp" alt="kid_school-icon.webp-icon" width="360" height="218">
                        </p>
                        <h3 class="sec-price__main-sub">キッズスクール</h3>
                        <div class="list-price">
                            <div class="list-price__item">
                                <h4 class="list-price__ttl bg-black">キッズスイミング</h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">7,350<label>～</label></span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">8,085～円／月<span>（税込）</span></p>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>回数</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day text-left">週1回<span>※週2回以上のコースもあります</span></p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl bg-black">キッズダンス</h4>
                                <div class="list-price__body" style="height: 156.094px;">
                                    <p class="list-price__price">
                                        <span class="number">6,850<label>～</label></span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">7,535～円／月<span>（税込）</span></p>
                                </div>
                                <div class="list-price__foot" style="height: 73.5938px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>回数</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day text-left">週1回<span>※週2回以上のコースもあります</span></p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl bg-black">エイベックスダンスマスター</h4>
                                <div class="list-price__body" style="height: 156.094px;">
                                    <p class="list-price__price">
                                        <span class="number">8,850<label>～</label></span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">9,735～円／月<span>（税込）</span></p>
                                </div>
                                <div class="list-price__foot" style="height: 73.5938px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>回数</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day text-left">週1回<span>※週2回以上のコースもあります</span></p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <ul class="list-btn">
                            <li class="list-btn__item">
                                <a href="/kids_swimming/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズスイミングの詳細はこちら</a>
                            </li>
                            <li class="list-btn__item">
                                <a href="/kids_dance/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">ダンススクールの詳細はこちら</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

						
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>

<!-- ここから 追加分 20250423-->
<div class="sec-cont stripe-top-right stripe-top-right--short2" id="facility_introduction">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray text-left">facility<br>introduction</span>
                    <span class="txt-jp">設備紹介</span>
                </h2>
                <h3 class="two-column__ttl text-left mb40">トレーニングジム</h3>
                <h4 class="txt-m co-green mb20">ノーチラスインパクトシリーズ</h4>
                <p>ノーチラスインパクトシリーズは、ヘビーウェイトスタックを標準装備しており、初心者からプロのアスリートまで幅広い層に支持されております。<br>スイッチのように重量を変更できる特許取得済みのLock N Loadウェイト選択システムを標準装備しております。</p>
                <p>また、ノーチラス社創業者のアーサー・ジョーンズ博士が開発した「<span class="co-green font-bold">ノーチラスカム</span>」を装備したトレーニングマシンは、トレーニングの最大効果を最大限に高めるための「<span class="co-green font-bold">回転抵抗</span>」と「<span class="co-green font-bold">可変抵抗</span>」を採用。筋肉にどの角度からでも安全に最大の負荷をかけられるため、<span class="co-green font-bold">少ないセット数で効率的な時短フィットネスが可能です！</span><br>日本最大級サプライヤー【think】監修<a href="https://www.youtube.com/@pal-ball" target="_blank">オリジナル使用動画</a>が付いているので 安心して最大の効果を得られます。</p>
                <div class="list-product">
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>シーテッドレッグプレス</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_19.webp" alt="product-img01" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 259.578px;">
                            <p style="height: 172.781px;">大きなフットプレートにより、脚の位置を変えることで、様々な脚のトレーニングを実施することができます。上半身を後方へ移動させることで、より安定したトレーニングが可能です。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/lSpH0G4cnVc?si=Dd15KsVIQB7GE4SQ">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>レッグエクステンション</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_20.webp" alt="product-img02" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 259.578px;">
                            <p style="height: 172.781px;">アクセスしやすい中央のレッグパットが脚の左右差を補正するため、ダイレクトに負荷を体感できます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/KtEhX_4XbD0?si=bnDx24cpQKwhLxEI">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>シーテッドレッグカール</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_21.webp" alt="product-img03" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 259.578px;">
                            <p style="height: 172.781px;">膝の位置が腰の位置よりも高くなるよう設計されているため、ハムストリングスを十分にストレッチできます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/fv4Ln1K9EiM?si=0bwAt-rhJnJ7Bh6L">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>デルトイドフライ</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_22.webp" alt="product-img04" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>胸</li>
                                <li>肩・腕</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 259.578px;">
                            <p style="height: 172.781px;">1台のマシンで、胸のトレーニングと肩のトレーニングが実施可能です。可動範囲を調節できるのでお好みのポジションでトレーニングしていただけます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/r5aKRQlwi64?si=SI0ug33E9XjSTth1">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/エボ /チェストプレス</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_23.webp" alt="product-img05" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>胸</li>
                                <li>肩・腕</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">インスピレーションは、ラップアラウンドガスアシストシート調節により、スムーズなシートポジション変更が可能です。左右独立稼働により細やかな調整を実現する、ノーチラスの流れを汲んだ最上位マシンになります。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/2y_tPF1WLas?si=a3Dy0mzhONvrokr8">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>ラットプルダウン</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_24.webp" alt="product-img06" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>背中</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">シンプルながらも十分な可動範囲を備え、下半身をしっかり固定できる調節可能な膝パッドを搭載しています。 また、アタッチメントを交換することで、多彩な背中のトレーニングを実施できます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/SVxNtHxoTBc?si=Jszd_u4uAOnwA1CS">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インパクト/<br>バーチカルロウ</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_25.webp" alt="product-img07" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>背中</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">可動部分が後方にあることで広背筋を十分にストレッチでき、可動範囲を最大に得ることができます。 角度のついたフットサポートパッドが下半身を固定し、安定したトレーニングをサポートします。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/GsVB5P64S9k?si=kpPlMpGqAq4qyXk6">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/インスピレーション/<br>ロータリートルソー</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_26.webp" alt="product-img08" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>お腹</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">内腿でパッドを挟み込み、下半身を固定して動作を行います。可動域は-60°から+60°まで10°刻みで調節可能です。左右別々にトレーニングを実施することもできます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/oBT1QI8DRzI?si=rXZvtseYYxzwvvcC">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">HAL/<br>ブーティービルダープラチナム4.0</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_27.webp" alt="product-img16" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">大臀筋を中心に鍛えられる、ヒップアップマシンの代名詞。特許取得の大きなフットプレートが様々な方のトレーニングをサポートします。シート位置、背もたれの位置なども調節可能です。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/rfAXMlr55V4?si=Nj2dWXw46obo8ECF">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">HAL/ブーティービルダー<br>スタンディングアブダクター</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_28.webp" alt="product-img17" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">スタンディングの状態で脚を外転させることで、大臀筋を鍛えることができます。女性に人気のトレーニングマシンです。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/-9h3JeEYD7M?si=YdSuCgUQOQ0yFgON">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">POWERTEC/<br>レバレッジスクワット&amp;カーフ</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_29.webp" alt="product-img18" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">肩の位置のパットを使用することで上半身を固定し、安定した状態で下半身のトレーニングを行うことができます。また、フットプレートに角度をつけることで重心が後方に移動し、大腿四頭筋に集中的に負荷を加えることができます。</p>
                            <button class="c-video-btn btn-hover js-open-video" data-video="https://www.youtube.com/embed/3ZR7_MG1rXw?si=C6uYNZdECUqOxu5B">
                                使用方法動画はこちら
                            </button>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/NP/<br>デュアルアジャスタブルプーリー</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_30.webp" alt="product-img09" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>全身</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 317.172px;">
                            <p style="height: 230.375px;">左右に2つのウェイトスタックを搭載。多彩なハイローポジションにより、1台で様々な種目のトレーニングが可能です。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/NP/スミスマシン</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_31.webp" alt="product-img10" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>全身</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">生体力学に基づいて設計された7段階の傾斜が、スクワットとプレス動作の効果を最大限に引き出します。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/エボ /<br>アングルドレッグプレス</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_32.webp" alt="product-img11" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>脚・ヒップ</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">マシンの角度は45°に設定。シートポジションの変更や、手の届く位置で簡単に操作できるセーフティハンドルも搭載しています。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/レバレッジ/<br>チェストプレス</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_33.webp" alt="product-img12" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>胸</li>
                                <li>肩・腕</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">生体力学に基づいたレバーと回転軸により、人間本来の動きに沿った可動域を作り出します。流線型のデザインと本体側面に取り付けられたウェイトストレージにより、プレートの装着が安全かつ容易に行えます。また、左右独立した動作が可能です。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/レバレッジ/<br>ラットプルダウン</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_34.webp" alt="product-img13" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>背中</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">生体力学に基づいたレバーと回転軸により、人間本来の動きに沿った可動域を作り出します。流線型のデザインと本体側面に取り付けられたウェイトストレージにより、プレートの装着が安全かつ容易に行えます。また、左右独立した動作が可能です。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/レバレッジ/<br>ローイング</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_35.webp" alt="product-img14" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>背中</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">生体力学に基づいたレバーと回転軸により、人間本来の動きに沿った可動域を作り出します。流線型のデザインと本体側面に取り付けられたウェイトストレージにより、プレートの装着が安全かつ容易に行えます。また、左右独立した動作が可能です。</p>
                        </div>
                    </div>
                    <div class="list-product__product">
                        <h3 class="list-product__ttl" style="height: 70.3906px;">ノーチラス/レバレッジ/<br>ショルダープレス</h3>
                        <div class="list-product__img">
                            <figure>
                                <img src="/images/top/img_36.webp" alt="product-img15" width="261" height="195">
                            </figure>
                            <ul class="img-tag">
                                <li>肩・腕</li>
                            </ul>
                        </div>
                        <div class="list-product__txt" style="height: 283.172px;">
                            <p style="height: 259.172px;">生体力学に基づいたレバーと回転軸により、人間本来の動きに沿った可動域を作り出します。流線型のデザインと本体側面に取り付けられたウェイトストレージにより、プレートの装着が安全かつ容易に行えます。また、左右独立した動作が可能です。</p>
                        </div>
                    </div>
                </div>
                <!-- ===== Modal dùng chung ===== -->
                <div class="c-video-modal" id="videoModal" aria-hidden="true">
                    <div class="c-video-modal__overlay js-close-video"></div>

                    <div class="c-video-modal__content" role="dialog" aria-modal="true">
                        <button class="c-video-modal__close js-close-video">×</button>

                        <div class="c-video-modal__iframe">
                        <iframe id="videoIframe" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
                        </iframe>
                        </div>
                    </div>
                </div>
                <div class="sec-cont pb00">
                    <h3 class="two-column__ttl text-left mb40">フリーウェイトコーナー</h3>
                    <div class="list-img mb30">
                        <p class="img">
                            <img src="/images/top/img_37.webp" alt="フリーウェイトコーナー" width="1104" height="320">
                        </p>
                        <p class="img">
                            <img src="/images/top/img_38.webp" alt="フリーウェイトコーナー" width="1104" height="320">
                        </p>
                    </div>
                    <h4 class="txt-m co-green mb20">充実のマシン完備</h4>
                    <p>ベンチプレス<span class="co-green font-bold">2台</span>、ハーフラック<span class="co-green font-bold">2台</span>、ケーブルクロス<span class="co-green font-bold">2台</span>、スミスマシン1台を完備した充実のフリーウェイトコーナーで初心者の方から上級者の方までトレーニングをお楽しみいただけます。</p>
                </div>

            </div>
        </div>

<!-- //ここまで 追加分 -->
        </main>


</Layout>
