---
import Layout from '../layouts/Layout.astro';
import '../styles/top.css';
---

<Layout
  title="パルバル湘南スポーツクラブ"
  description="茅ヶ崎のフィットネス、キッズ水泳・ダンス。バリューフィットネスでクオリティライフを。"
  bodyClass="p-top"
>
        <main id="cm-main">
            <!-- mainvisual -->
            <section class="mainvisual">
                <div class="container">
                    <div class="main-inner">
                        <div class="main-inner__txt">
                            <h1>
                                <img src="/public/images/test-banner.png" alt="MAKE QUALITY LIFE!" width="659" height="485">
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-01">
                <div class="container">
                    <div class="sec-01__head">
                        <h2 class="sec-01__date"><span>2025</span>年<span>4</span>月<span>1</span>日</h2>
                        <div class="sec-01__txt">
                            <h3 class="sec-01__ttl">ジムエリア＆料金体系を完全リニューアルしてNew Open!!</h3>
                            <p>1～2セットで最大の成果を実現するノーチラスマシンを茅ヶ崎で唯一、17台新規導入</p>
                        </div>
                    </div>
                    <p class="main-img show-sp">
                        <img src="/images/top/img_4.webp" alt="sp-main-img">
                    </p>
                    <div class="sec-01__list-banner">
                        <p>
                            <a href="./fitness/#campaign">
                                <img src="/images/top/img_5.png" alt="パパママペア会員" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./fitness/#campaign">
                                <img src="/images/top/img_6.png" alt="3月キャンペーン" width="336" height="168">
                            </a>
                        </p>
                        <p class="show-sp">
                            <a href="./kids_swimming/#Short-term_campaign">
                                <img src="/images/top/img_7.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./kids_swimming/#campaign">
                                <img src="/images/top/img_8.png" alt="スイミング体験会" width="336" height="168">
                            </a>
                        </p>
                        <p>
                            <a href="./kids_dance/#campaign">
                                <img src="/images/top/img_9.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                        <p class="show-pc">
                            <a href="./kids_swimming/#Short-term_campaign">
                                <img src="/images/top/img_7.png" alt="ダンス体験会" width="336" height="168">
                            </a>
                        </p>
                    </div>
                </div>
            </section>
            <section class="sec-news bg-gray">
                <div class="container">
                    <p class="txt-eng">news</p>
                    <div class="sec-news__main">
                        <div class="sec-news__left">
                            <h2 class="cm__title">お知らせ</h2>
                            <a href="/topics/" class="cm-btn cm-arr cm-arr--right btn-hover">一覧へ</a>
                        </div>
                        <div class="cont-news">
                            <div class="cont-news__list">
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%83%95%e3%82%a3%e3%83%83%e3%83%88%e3%83%8d%e3%82%b9%e6%96%b0%e4%bc%9a%e5%93%a1%e7%a8%ae%e5%88%a5%e3%80%8c%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e3%83%9a%e3%82%a2%e4%bc%9a%e5%93%a1%e3%80%8d%e3%81%ae/" class="cont-news__link btn-hover">
                                            <time datetime="2026-03-20T11:00:42+09:00" class="cont-news__date">2026.03.20</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">フィットネス新会員種別「パパママペア会員」のご案内</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e5%a4%8f%e3%81%ae1day%ef%bc%86%ef%bc%92day%e4%bd%93%e9%a8%93%e4%bc%9a%e3%80%91%e3%82%b9%e3%82%a4%e3%83%9f%e3%83%b3%e3%82%b0%e4%bd%93%e9%a8%93%e7%94%b3%e8%be%bc%e5%8f%97%e4%bb%98%e4%b8%ad/" class="cont-news__link btn-hover">
                                            <time datetime="2026-03-10T12:00:07+09:00" class="cont-news__date">2026.03.10</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【春の1DAY体験会】スイミング体験申込　好評受付中！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e5%b9%b4%e5%a7%8b%e3%81%94%e3%81%82%e3%81%84%e3%81%95%e3%81%a4/" class="cont-news__link btn-hover">
                                            <time datetime="2026-01-01T07:00:31+09:00" class="cont-news__date">2026.01.01</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">年始ごあいさつ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%95%e3%82%a3%e3%83%83%e3%83%88%e3%83%8d%e3%82%b9%e3%80%91%e3%82%a8%e3%82%a2%e3%83%ad%e3%83%90%e3%82%a4%e3%82%af%e3%81%8c%e6%96%b0%e3%81%97%e3%81%8f%e3%81%aa%e3%82%8a%e3%81%be%e3%81%97/" class="cont-news__link btn-hover">
                                            <time datetime="2025-12-17T17:00:03+09:00" class="cont-news__date">2025.12.17</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【フィットネス】エアロバイクが新しくなりました！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e4%b8%ad%e9%ab%98%e7%94%9f%e4%bc%9a%e5%93%a1%e6%96%99%e9%87%91%e6%94%b9%e5%ae%9a%e3%81%8a%e3%82%88%e3%81%b3%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e4%bc%9a%e5%93%a1%e5%af%be%e8%b1%a1%e6%8b%a1%e5%a4%a7/" class="cont-news__link btn-hover">
                                            <time datetime="2025-12-11T09:00:00+09:00" class="cont-news__date">2025.12.11</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">中高生会員料金改定およびパパママ会員対象拡大のご案内</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e5%a4%8f%e5%ad%a3%e4%bc%91%e6%a5%ad%e3%81%ae%e3%81%8a%e7%9f%a5%e3%82%89%e3%81%9b/" class="cont-news__link btn-hover">
                                            <time datetime="2025-11-29T10:00:27+09:00" class="cont-news__date">2025.11.29</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">年末年始休業のお知らせ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%91%e3%83%91%e3%83%9e%e3%83%9e%e4%bc%9a%e5%93%a1%e3%80%91%e3%81%8a%e5%ad%90%e3%81%95%e3%81%be%e3%81%8c%e3%82%ad%e3%83%83%e3%82%ba%e3%82%b9%e3%82%af%e3%83%bc%e3%83%ab%e3%81%ab%e9%80%9a/" class="cont-news__link btn-hover">
                                            <time datetime="2025-04-30T16:17:24+09:00" class="cont-news__date">2025.04.30</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【パパママ会員】お子さまがキッズスクールに通われている方へ</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%80%90%e3%83%aa%e3%83%8b%e3%83%a5%e3%83%bc%e3%82%a2%e3%83%ab%e3%80%91%e3%83%88%e3%83%ac%e3%83%bc%e3%83%8b%e3%83%b3%e3%82%b0%e3%83%9e%e3%82%b7%e3%83%b3%e3%82%92%e3%83%95%e3%83%ab%e3%83%aa%e3%83%8b/" class="cont-news__link btn-hover">
                                            <time datetime="2025-04-01T15:27:05+09:00" class="cont-news__date">2025.04.01</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【リニューアル】トレーニングマシンをフルリニューアルしました！</p>
                                        </a>
                                    </div>
                                                                    <div class="cont-news__item">
                                        <a href="/topics/%e3%83%86%e3%82%b9%e3%83%88%e3%83%88%e3%83%94%e3%83%83%e3%82%af%e3%82%b9-8/" class="cont-news__link btn-hover">
                                            <time datetime="2025-02-03T15:16:36+09:00" class="cont-news__date">2025.02.03</time>
                                            <ul class="list-tag">
                                                                                            </ul>
                                            <p class="cont-news__txt">【2025年4月より】月会費及び営業形態改定のお知らせ</p>
                                        </a>
                                    </div>
                                                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-fitness">
                <div class="style-box01">
                    <div class="style-box01__img">
                        <img src="/images/top/img_10.webp" alt="fitness-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">fitness</p>
                            <h2 class="cm__title text-center">フィットネス</h2>
                            <p>ジムエリアは短時間で効果的なトレーニングを実現する、ノーチラスインパクトシリーズのマシンに全面入れ替え。会員の方はジム・スタジオ・プール・スパ・サウナの全エリアが利用可能です。</p>
                            <p class="text-center-sp">
                                <a href="/fitness/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">フィットネス</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-kid">
                <div class="style-box01 box-reverse">
                    <div class="style-box01__img">
                        <img src="/images/top/img_11.webp" alt="kids_swimming-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">kids<br>swimming</p>
                            <h2 class="cm__title text-center">キッズスイミング</h2>
                            <p>経験・実績に富んだリオデジャネイロオリンピック競泳日本代表コーチが監修者となり、準備行動段階でのメンタル面に配慮した、発育発達に応じた段階的指導カリキュラムで心と身体を育みます。</p>
                            <p class="text-center-sp">
                                <a href="/kids_swimming/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズスイミング</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="style-box01 kids_dance">
                    <div class="style-box01__img">
                        <img src="/images/top/img_12.webp" alt="kids_dance-img" width="880" height="495">
                    </div>
                    <div class="style-box01__txt">
                        <div class="style-box01__inner-txt">
                            <p class="txt-eng">kids<br>dance</p>
                            <h2 class="cm__title text-center">キッズダンス</h2>
                            <p>現役で活躍しているエイベックス専属のダンス講師や、様々なダンス経歴を持つ講師が直接指導。身体能力の向上はもちろん、コミュニケーション能力や挨拶などの礼儀、自己表現の向上も期待できます。</p>
                            <p class="text-center-sp">
                                <a href="/kids_dance/" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">キッズダンス</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-cont sec-concept">
                <div class="container">
                    <div class="sec-concept__main">
                        <div class="sec-concept__left">
                            <img src="/images/top/img_13.webp" alt="PAL-BALL SPORTS CLUB" width="391" height="124">
                        </div>
                        <div class="sec-concept__infor">
                            <div class="sec-concept__txt">
                                <h2 class="sec-concept__ttl">パルバル湘南スポーツクラブ<span>concept</span></h2>
                                <h3 class="sec-concept__sub">バリューフィットネス<br><span><label>メイク・クオリティ・ライフ</label>Make Quality Life</span></h3>
                                <p>茅ヶ崎で30年以上、地域と共に歩むパルバル湘南スポーツクラブ。<br>私たちの使命は、フィットネスを特別なものではなく、誰もが気軽に楽しめるライフスタイルの一部として提供すること。<br>圧倒的なバリュープライスと時短フィットネスで、皆さまの生活の質を高めるクオリティライフに貢献します。</p>
                            </div>
                            <div class="sec-concept__btn">
                                <a href="/concept/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">コンセプト</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec-facility">
                <div class="container">
                    <p class="txt-eng">FACILITY<br>DESCRIPTION</p>
                    <div class="sec-facility__main">
                        <h2 class="sec-facility__ttl">
                            <span class="txt-ttl">施設紹介</span>
                        </h2>
                        <p class="sec-facility__img sec-facility__img-full">
                            <img src="/images/top/img_14.webp" alt="facility-img01" width="784" height="441">
                        </p>
                        <p class="sec-facility__img sec-facility__img-hafl">
                            <img src="/images/top/img_15.webp" alt="facility-img02" width="384" height="384">
                        </p>
                        <p class="sec-facility__img sec-facility__img-hafl">
                            <img src="/images/top/img_16.webp" alt="facility-img03" width="384" height="384">
                        </p>
                        <ul class="list-btn">
                            <li class="list-btn__item">
                                <a href="/facility/" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">施設紹介</a>
                            </li>
                            <li class="list-btn__item">
                                <a href="/fitness/#facility_introduction" class="cm-btn btn-shadow cm-arr cm-arr--right btn-hover">フィットネスマシン一覧</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="sec-price">
                <div class="container">
                    <p class="txt-eng text-center">price</p>
                    <h2 class="sec-price__ttl">
                        <span>料金案内</span>
                    </h2>
                </div>
                <div class="sec-price__main fitness-main">
                    <p class="txt-eng">fitness</p>
                    <div class="container">
                        <p class="sec-price__icon">
                            <img src="/images/top/img_17.webp" alt="price-icon" width="313" height="343">
                        </p>
                        <h3 class="sec-price__main-sub">フィットネス</h3>
                        <div class="list-price">
                            <div class="list-price__item">
                                <h3 class="list-price__ttl--yellow">夫婦2名+中高生会員で 6,960円</h3>
                                <h4 class="list-price__ttl">パパママペア会員(2名合計)
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">4,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">5,478円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h3 class="list-price__ttl--yellow">親子で通っても月 5,960円</h3>
                                <h4 class="list-price__ttl">パパママ会員(1名)</h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number">3,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">4,378円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>全レッスン受講可能</li>
                                        <li>全営業時間ご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">9:00 ～ 22:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">9:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日：</p>
                                                            <p class="list-time__time">9:00 ～ 19:00</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休館日</th>
                                                <td>
                                                    <p class="mb07">水曜日（定休日）</p>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">夏季休業：</p>
                                                            <p class="list-time__time">8/12 ～ 8/16</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day">年末年始：</p>
                                                            <p class="list-time__time">12/28 ～ 1/3</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="list-price__item">
                                <h4 class="list-price__ttl"><strong class="co-yellow3 txt-lg">新料金</strong>中高生会員<br><span>対象：中学生・高校生</span>
                                </h4>
                                <div class="list-price__body" style="height: 345.078px;">
                                    <p class="list-price__price">
                                        <span class="number co-yellow3">1,980</span>
                                        <span class="unit">円／月<label>（税別）</label></span>
                                    </p>
                                    <p class="list-price__price2">2,178円／月<span>（税込）</span></p>
                                    <ul class="list-tick">
                                        <li>最新ジムマシン</li>
                                        <li>プール利用</li>
                                        <li>スパ・サウナ利用</li>
                                        <li>下記営業時間のご利用可能</li>
                                    </ul>
                                </div>
                                <div class="list-price__foot" style="height: 228.57px;">
                                    <table class="style-table01">
                                        <tbody>
                                            <tr>
                                                <th>利用時間</th>
                                                <td>
                                                    <div class="list-time">
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">月～金曜日：<span>※水曜日を除く</span></p>
                                                            <p class="list-time__time">15:00 ～ 21:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">土曜日：</p>
                                                            <p class="list-time__time">15:00 ～ 20:00</p>
                                                        </div>
                                                        <div class="list-time__item">
                                                            <p class="list-time__day w-set">日曜・祝日