---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="キッズスイミング"
  description="パルバル湘南スポーツクラブのキッズスイミングスクール。茅ヶ崎の水泳教室。体験申込受付中。"
  bodyClass="p-kids_swimming"
>
<main id="cm-main">
    <section class="ttl-page">
        <div class="container">
            <h1>キッズスイミング</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <div class="container">
            <ul id="breadcrumb">
                <li>
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <span>キッズスイミング</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="main-cont">
        <div class="sec-cont">
            <div class="container">
                <p class="img-top">
                    <img src="/images/kids_swimming/img_3.webp" alt="img-top" width="1380" height="490">
                </p>
                <div class="page-index">
                    <p class="page-index__ttl">page index</p>
                    <ul class="page-index__anchor-link anchor-link">
                        <li class="anchor-link__item">
                            <a href="#point" class="anchor-link__link cm-arr cm-arr--down">
                                <span>特徴</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#reason" class="anchor-link__link cm-arr cm-arr--down">
                                <span>選ばれる理由</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#supervisor" class="anchor-link__link cm-arr cm-arr--down">
                                <span>監修者紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#class" class="anchor-link__link cm-arr cm-arr--down">
                                <span>クラス紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#lecturer" class="anchor-link__link cm-arr cm-arr--down">
                                <span>講師紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#price_system" class="anchor-link__link cm-arr cm-arr--down">
                                <span>料金・制度案内</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#voice" class="anchor-link__link cm-arr cm-arr--down">
                                <span>会員さまの声</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#consider_joining" class="anchor-link__link cm-arr cm-arr--down">
                                <span>入会の流れ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--start add content -->
                <div class="box-gray box-campaign" id="Short-term_campaign">
                    <div class="campaign_kids campaign_kids--pink">
                        <h3 class="campaign_kids__ttl">春の特別体験会</h3>
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">春の1Day体験</h4>
                            <table class="c-table-price2">
                                <tbody>
                                    <tr>
                                        <th>クラス</th>
                                        <td class="txt-blue txt-lg">キッズスイミング</td>
                                    </tr>
                                    <tr>
                                        <th>対象</th>
                                        <td>5歳～15歳</td>
                                    </tr>
                                    <tr>
                                        <th>日程</th>
                                        <td class="date">4月5日(日)</td>
                                    </tr>
                                    <tr>
                                        <th>時間</th>
                                        <td>9：00～9：45</td>
                                    </tr>
                                    <tr>
                                        <th>料金</th>
                                        <td>
                                            <div class="price">
                                                <span class="txt-blue">500&nbsp;円（税別）</span><br class="show-sp">
                                                <span class="price__in-tax">550円<small>（税込）</small></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">体験後1週間以内のご入会で</h4>
                            <div class="kids-price">
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">年会費</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：3,000円（税込3,300円）</p>
                                    </div>
                                </div>
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">カード発行料</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：1,000円（税込1,100円）</p>
                                    </div>
                                </div>
                            </div>
                            <figure class="campaign_kids__img">
                                <img src="/images/kids_swimming/img_4.jpg" alt="体験後1週間以内のご入会で">
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- end  add content  -->
                <div class="box-gray box-campaign" id="campaign">
                    <div class="campaign_kids">
                        <h3 class="campaign_kids__ttl">イツデモ スイミング体験会</h3>
                        <div class="campaign_kids__cont">
                            <h3 class="two-column__ttl text-left mb40">通常クラス　イツデモ体験</h3>
                            <div class="u-contain-md">
                                <table class="style-table03 table-m">
                                    <tbody>
                                        <tr>
                                            <th>日程</th>
                                            <td>3月2日(月)～4月28日(火)</td>
                                        </tr>
                                        <tr>
                                            <th>時間</th>
                                            <td>各種スクール開講時間</td>
                                        </tr>
                                        <tr>
                                            <th>料金</th>
                                            <td>
                                                <div class="price set-w_ex-tax">
                                                    <p class="price__ex-tax">
                                                        <span class="number">500</span>
                                                        <span class="unit pl20">円<label>（税別）</label></span>
                                                    </p>
                                                    <p class="price__in-tax col-w--ss">550円<small>（税込）</small></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end part -->
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">体験後7営業日以内（体験日を含む）のご入会で</h4>
                            <div class="kids-price">
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">年会費</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：3,000円（税込3,300円）</p>
                                    </div>
                                </div>
                                <!-- <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">指定品</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">プレゼント</p>
                                        <p class="kids-price__price">8,000円相当</p>
                                    </div>
                                </div> -->
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">カード発行料</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：1,000円（税込1,100円）</p>
                                    </div>
                                </div>
                            </div>
                            <div class="last-txt">
                                <p>
                                    <img src="/images/kids_swimming/img_5.webp" alt="さらに初月会費無料＋指定品プレゼント">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end part -->

            </div>
        </div>
        <div class="sec-cont-larger banner-WEB">
            <div class="container">
                <div class="banner-WEB__inner">
                    <h3 class="banner-WEB__ttl">キッズスクールの<br class="show-sp">体験申し込みはこちら</h3>
                    <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow mt00">キッズスクール体験申し込み</a>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger pb00 stripe-top-left" id="point">
            <div class="container">
                <div class="d-flex justify-center mb50">
                    <a href="/fitness/#campaign">
                        <img src="/images/kids_swimming/img_6.png" alt="応援キャンペーン" width="336" height="168">
                    </a>
                </div>
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray">point</span>
                    <span class="txt-jp"><small class="co-yellow">パルバル湘南スポーツクラブ</small>キッズスクールの特徴</span>
                </h2>
            </div>
            <div class="point-head sec-head sec-cont">
                <div class="container">
                    <div class="inner-txt">
                        <p>「カラダを動かせば、未来が変わる」をコンセプトに、すこやかでバランスの取れた心身の成長をサポートするために、無理なく段階を追ったカリキュラムで、健全な心と身体の発育と社会性に富んだ豊かな人間形成を目的としています。</p>
                        <p>効率よく効果的に構築されたカリキュラムは、技術習得能力を高めるために必要となる集団行動や意思決定力・主体性を涵養し、お子さまの年齢特性や発育に応じた段階的指導をプログラムすることによって、楽しく興味を持たせながら財産として自身に残せるスポーツへと導いていきます。</p>
                    </div>
                </div>
            </div>
            <div class="infiniteslide_wrap" style="overflow: hidden;"><div class="infiniteslide" style="display: flex; flex-flow: row; align-items: center; animation: 85.8s linear 0s infinite normal none running infiniteslide177406588374310c7;" data-style="infiniteslide177406588374310c7">
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_7.webp" alt="img01" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_8.webp" alt="img02" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_9.webp" alt="img03" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_10.webp" alt="img04" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_11.webp" alt="img05" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_12.webp" alt="img05" width="476" height="318">
                </div>
            <div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_7.webp" alt="img01" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_8.webp" alt="img02" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_9.webp" alt="img03" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_10.webp" alt="img04" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_11.webp" alt="img05" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_12.webp" alt="img05" width="476" height="318">
                </div></div></div>
        </div>
        <div class="sec-cont-larger stripe-top-right stripe-top-right--short2" id="reason">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">point</span>
                    <span class="txt-jp">選ばれる<strong class="co-yellow">3</strong>つの理由</span>
                </h2>
            </div>
            <div class="list-reason">
                <div class="list-reason__box-reason">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_13.webp" alt="圧倒的な指導力" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>01</span>圧倒的な指導力</h3>
                            <ul class="list-dot">
                                <li>経験と実績豊富なリオデジャネイロオリンピック競泳日本代表コーチが監修した最新の指導技術に基づくカリキュラムで、コーチ教育を実施しています。</li>
                                <li>定員制により指導体制を充実させ、指導内容のクオリティを維持しています。</li>
                                <li>準備行動段階でのメンタル面に配慮し、発育発達に応じた段階的な指導カリキュラムで心と身体を育みます。</li>
                                <li>効率的かつ効果的なカリキュラムで、早期の上達をサポートします。</li>
                                <li>社会性を養うため、「元気にあいさつ・ルールを守る・仲間と協力する・やりとげる力を養う」を重視した指導を行っています。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-reason__box-reason box-reverse">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_14.webp" alt="パルバルだからできる多様な動作習得" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>02</span>パルバルだからできる多様な動作習得</h3>
                            <ul class="list-dot">
                                <li>パルバルのスクールは0歳から始められるのが大きな魅力です。</li>
                                <li>4歳までは「ダンス」と「スイミング」を併用し、多彩な運動を経験することができます。</li>
                                <li>身体を動かすことを楽しみながら、お子さまの無限の可能性を育みます。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-reason__box-reason">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_15.webp" alt="安心・便利で通いやすい環境" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>03</span>安心・便利で通いやすい環境</h3>
                            <ul class="list-dot">
                                <li>パルバルはスクールバスの運行や大型駐車場を完備している点も大きな魅力です。</li>
                                <li>スクールをご利用の方はご自宅の近くまでバスの送迎が可能。茅ヶ崎市全域をルート運行しています。</li>
                                <li>お子さまには、バス乗車中もお友だちと楽しい時間をお過ごしいただけます。</li>
                                <li>専用アプリやメールでお子さまの入退館がリアルタイムで届くほか、レッスンの欠席連絡・振替サービスなどもスマートフォンから便利にご利用いただけます。</li>
                            </ul>
                            <p class="text-center-sp">
                                <a href="https://buscatch.net/scp/pal-ball/bus_stop_map" target="_blank" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">バスルート・時刻表</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger bg-blue stripe-top-left stripe-top-left--blue" id="supervisor">
            <div class="container">
                <h2 class="cm-ttl01 cm-ttl01--blue">
                    <span class="txt-eng txt-eng--gray2">supervisor</span>
                    <span class="txt-jp">スクール監修者紹介</span>
                </h2>
                <p class="text-center text-left-sp font-bold">バルバル湘南スポーツクラブのキッズスイミングスクールは、<br class="show-pc">日本トップレベルの指導実績を持つプロフェッショナルが泳ぎの習熟に最も効果的な最新カリキュラムを構築。<br>コーチングスタッフへの教育研修までをプロデュースする監修者として、お子さまの成長をサポートいたします。</p>
                <div class="three-column2">
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_16.webp" alt="supervisor-img01" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>執行役員ヘッドコーチ</small><br>村上 二美也</span>
                                    <span class="ttl-eng">Fumiya Murakami</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2021年</dt>
                                                    <dd class="list-year__txt">執行役員ヘッドコーチ就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4>主な指導実績</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>リオデジャネイロオリンピック競泳日本代表コーチ</li>
                                                    <li>公益財団法人日本水泳連盟インターナショナル選手輩出</li>
                                                </ul>
                                            </div>
                                            <div class="inner-part set-height3" style="height: 149.781px;">
                                                <h4>主な公職経歴</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>公益財団法人日本水泳連盟競泳委員</li>
                                                    <li>公益財団法人日本水泳連盟エリート小学生合宿ヘッドコーチ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_17.webp" alt="supervisor-img02" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>代表取締役社長</small><br>林 正基</span>
                                    <span class="ttl-eng">Masaki Hayashi</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">1999年</dt>
                                                    <dd class="list-year__txt">入社</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2003年</dt>
                                                    <dd class="list-year__txt">取締役部長就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2011年</dt>
                                                    <dd class="list-year__txt">代表取締役就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2023年</dt>
                                                    <dd class="list-year__txt">法政大学体育会水泳部監督に就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4>主な指導実績</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>日本高等学校選手権水泳競技大会優勝</li>
                                                    <li>公益財団法人日本水泳連盟ナショナル選手輩出</li>
                                                </ul>
                                            </div>
                                            <div class="inner-part set-height3" style="height: 149.781px;">
                                                <h4>主な公職経歴</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>一般社団法人神奈川県水泳連盟強化委員長</li>
                                                    <li>公益財団法人日本水泳連盟ジュニアブロックシンガポール遠征ヘッドコーチ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_18.webp" alt="supervisor-img03" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>取締役</small><br>川中 浩</span>
                                    <span class="ttl-eng">Yutaka kawanaka</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2017年</dt>
                                                    <dd class="list-year__txt">上席執行役員就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2020年</dt>
                                                    <dd class="list-year__txt">取締役就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4>主な指導実績</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>日本学生選手権水泳競技大会優勝</li>
                                                    <li>公益財団法人日本水泳連盟インターナショナル選手輩出</li>
                                                </ul>
                                            </div>
                                            <div class="inner-part set-height3" style="height: 149.781px;">
                                                <h4>主な公職経歴</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>奈良県水泳連盟強化委員長</li>
                                                    <li>奈良県国体選手団監督</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger pb00 stripe-top-right stripe-top-right--short2" id="class">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">class</span>
                    <span class="txt-jp">クラス紹介</span>
                </h2>
            </div>
            <div class="class-head sec-head">
                <img src="/images/kids_swimming/img_19.webp" alt="class-img-l" width="1920" height="457">
                <div class="container">
                    <div class="inner-txt">
                        <p>低年齢で始めるほど運動能力曲線や脳の発達の高まりを見せる水泳。<br>水泳は自分の動きをほとんど目視できないイメージの運動です。<br>右脳を活性化させ、生後12年でほぼ完了する神経系の回路形成に大きく寄与し、集中力や競争心、空間認知能力、基礎体力などを育むスポーツの王様です。<br>高度に保たれた衛生環境と指導力で私たちがお子さまの成長をお手伝いします。</p>
                    </div>
                </div>
            </div>
            <div class="sec-cont-larger bg-blue">
                <div class="container">
                    <div class="list_style-box02">
                        <div class="style-box02">
                            <div class="style-box02__img">
                                <img src="/images/kids_swimming/img_20.webp" alt="class-img01" width="478" height="319">
                            </div>
                            <div class="style-box02__infor">
                                <h3 class="style-box02__ttl">
                                    ベビークラス<small>対象：5ヶ月～3歳未満と保護者</small>
                                </h3>
                                <div class="style-box02__txt">
                                    <p>この時期のお子さまは、心身の発達に個人差が大きく、著しい変化も見られます。パルバルではその変化に対応したカリキュラムのもと、プールでバランスのとれた指導を実施。また、親子のスキンシップを大切に、明るく楽しい時間をサポートします。</p>
                                    <p class="font-bold">スイミングのほか、親子体操・親子deリトミックも受講可能。毎日のように変化するお子さまの様子に合わせて自由に通っていただけます（予約制）。</p>
                                </div>
                            </div>
                        </div>
                        <div class="style-box02">
                            <div class="style-box02__img">
                                <img src="/images/kids_swimming/img_21.webp" alt="class-img02" width="478" height="319">
                            </div>
                            <div class="style-box02__infor">
                                <h3 class="style-box02__ttl">
                                    リトルクラス<small>対象：3歳～4歳</small>
                                </h3>
                                <div class="style-box02__txt">
                                    <p>水に慣れるための環境づくり、初歩的な動作練習を、遊びを取り入れながら楽しく行います。様々なことに興味を持ち始めるこの時期に、基礎体力の向上と共に自主性を育成。レッスンを通して集団行動におけるプールのルールを理解し、社会性を身につけていきます。</p>
                                    <p class="font-bold">スイミングのほか、キッズフィットネス・リトルリズム・リトルリトミックも受講可能。毎日のように変化するお子さまの様子に合わせて自由に通っていただけます（予約制）。</p>
                                </div>
                            </div>
                        </div>
                        <div class="style-box02">
                            <div class="style-box02__img">
                                <img src="/images/kids_swimming/img_22.webp" alt="class-img03" width="478" height="319">
                            </div>
                            <div class="style-box02__infor">
                                <h3 class="style-box02__ttl">
                                    キッズスイミング<small>対象：5歳～</small>
                                </h3>
                                <div class="style-box02__txt">
                                    <p>水と親しみながら、泳ぐ楽しさと技術を身につけていきます。泳法段階に応じたクラス編成で一人ひとりの泳力向上を丁寧にサポートすると共に、集団行動の中で主体性を育んでいきます。</p>
                                    <p>背泳ぎ、クロール、バタフライ、平泳ぎ。基本4泳法を確実に習得し、個人メドレーの応用レベルまでステップアップ。丁寧に泳ぐところから持久力とスピードアップを図り、強く・速く・長く泳ぐことを目指します。幅広い年齢層のお子さまが参加することで、友だちの輪も大きく広がります。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-cont">
                <div class="container">
                    <h3 class="text-center txt-l">タイムスケジュール</h3>
                    <table class="style-table03 font-medium text-center ">
                        <thead>
                            <tr>
                                <th colspan="2">内容</th>
                                <th class="col-w--l">利用時間</th>
                                <th class="col-w--m">回数</th>
                                <th class="col-w--ml">月会費</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2" class="col-w--ss kids_pa_th"><strong>パパ<br class="show-sp">ママ</strong><br><small>お子様がキッズスクールに通われている方</small><br></th>

                                <td class="bg-blue">
                                    <div class="table-time kids_pa_time">
                                    <p>9:00～22:00<br class="show-sp">（月・火・木・金）</p>
                                        <p>9:00～20:00<br class="show-sp">（土）</p>
                                        <p>9:00～19:00<br class="show-sp">（日・祝）</p>
                                    </div>
                                </td>
                                <td class="bg-blue"><strong>回数無制限</strong></td>
                                <td class="bg-blue">
                                    <div class="price">
                                        <p class="price__ex-tax">
                                            <span class="number">3,980</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">4,378円<small>（税込）</small></p>
                                        <p class="f12 mt10">お父様とお母様の両方がご利用される場合は2口（3,980×２）が必要となります</p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="6" class="col-w--ss"><strong>ベビークラス</strong><br><small>（5ヶ月～2歳）</small></th>
                                <td rowspan="3" class="col-w--m"><strong>スイミング</strong><br><small>（5ヶ月～）</small></td>
                                <td class="time">11:00～11:30<small>（月・木）</small></td>
                                <td rowspan="6"><strong>回数無制限</strong><br><small>（予約制）</small></td>
                                <td rowspan="6">
                                    <div class="price">
                                        <p class="price__ex-tax">
                                            <span class="number">7,350</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">8,085円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">11:30～12:00<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td class="time">12:00～12:30<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td rowspan="2"><strong>親子体操</strong><br><small>（1歳～）</small></td>
                                <td class="time">11:00～11:30<small>（火・金）※1歳</small></td>
                            </tr>
                            <tr>
                                <td class="time">11:30～12:15<small>（火・金）※2歳</small></td>
                            </tr>
                            <tr>
                                <td><strong>親子deリトミック</strong><br><small>（1歳～）</small></td>
                                <td class="time">11:00～11:45<small>（水・木）</small></td>
                            </tr>
                            <!-- end row -->
                            <tr>
                                <th rowspan="5"><strong>リトルクラス</strong><br><small>（3歳～4歳）</small></th>
                                <td rowspan="2"><strong>スイミング</strong></td>
                                <td class="time">14:45～15:45<small>（月・水・木）</small></td>
                                <td rowspan="5"><strong>回数無制限</strong><br><small>（予約制）</small></td>
                                <td rowspan="5">
                                    <div class="price">
                                        <p class="price__ex-tax">
                                            <span class="number">7,350</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">8,085円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">13:45～14:45<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td><strong>キッズフィットネス</strong></td>
                                <td class="time">14:45～15:45<small>（月・水）</small></td>
                            </tr>
                            <tr>
                                <td><strong>リトルリズム</strong></td>
                                <td class="time">14:45～15:45<small>（火・金）</small></td>
                            </tr>
                            <tr>
                                <td><strong>リトルリトミック</strong></td>
                                <td class="time">14:45～15:45<small>（木）</small></td>
                            </tr>
                            <!-- end row -->
                            <tr>
                                <th rowspan="7" colspan="2"><strong>キッズスイミング</strong><br><small>（5歳～）</small></th>
                                <td class="time">15:45～16:45<small>（月～金）</small></td>
                                <td rowspan="7" class="col-price fix-height fix-height--long">
                                    <div class="price">
                                        <p>週1回</p>
                                    </div>
                                    <div class="price">
                                        <p>週2回</p>
                                    </div>
                                    <div class="price">
                                        <p>週3回</p>
                                    </div>
                                </td>
                                <td rowspan="7" class="col-price">
                                    <div class="price set-height-sp">
                                        <p class="price__ex-tax">
                                            <span class="number">7,850</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">8,635円<small>（税込）</small></p>
                                    </div>
                                    <div class="price set-height-sp">
                                        <p class="price__ex-tax">
                                            <span class="number">10,350</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">11,385円<small>（税込）</small></p>
                                    </div>
                                    <div class="price set-height-sp">
                                        <p class="price__ex-tax">
                                            <span class="number">11,850</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">13,035円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">16:45～17:45<small>（月～金）</small></td>
                            </tr>
                            <tr>
                                <td class="time">17:45～18:45<small>（月～金）</small></td>
                            </tr>
                            <tr>
                                <td class="time">9:00～10:00<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td class="time">10:00～11:00<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td class="time">14:45～15:45<small>（土）</small></td>
                            </tr>
                            <tr>
                                <td class="time">15:45～16:45<small>（土）</small></td>
                            </tr>
                            <!-- end row -->
                            <tr>
                                <th colspan="2"><strong>スイミング・キッズダンスMIX</strong><br><small>（5歳以上）<br>（キッズダンスとの併用利用）</small></th>
                                <td rowspan="2"><strong>選択制</strong></td>
                                <td rowspan="2" class="col-price fix-height">
                                    <div class="price">
                                        <p>週2回</p>
                                    </div>
                                    <div class="price">
                                        <p>相互週1回</p>
                                    </div>
                                </td>
                                <td rowspan="2" class="col-price">
                                    <div class="price">
                                        <p class="price__ex-tax">
                                            <span class="number">9,850</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">10,835円<small>（税込）</small></p>
                                    </div>
                                    <div class="price">
                                        <p class="price__ex-tax">
                                            <span class="number">10,350</span>
                                            <span class="unit">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax">11,385円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <!-- end row -->
                            <tr>
                                <th colspan="2"><strong>林水泳教室併学</strong><br><small>（5歳以上）<br>（林水泳教室との相互利用）</small></th>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="list-indent3 mt20">
                        <li class="mb00 txt-ms">※キッズスイミングクラスは別途安全管理費として255円（税込280円）/月がかかります。</li>
                        <li class="txt-ms">※ベビー・リトルクラスの生徒は、スタジオプログラムも受講可能です。</li>
                    </ul>
                                        <div class="text-center">
                        <a href="/wp-content/uploads/2025/10/0be83355900dabcc101ea9d30e89a0b8.pdf" class="cm-btn btn-icon btn-shadow-blur cm-arr cm-arr--right btn-hover mt40" target="_blank">
                            <p class="inner-btn">
                                <span class="icon"><img src="/images/kids_swimming/img_23.webp" alt="icon-pdf"></span>
                                <span>スイミングスクール<br>ウィークリースケジュール表</span>
                            </p>
                        </a>
                    </div>
                                    </div>
            </div>
            <div class="sec-cont bg-gray">
                <div class="container">
                    <h3 class="text-center txt-l">進級基準</h3>
                    <h3 class="two-column__ttl text-left mb40">進級テストについて</h3>
                    <div class="two-column_blue">
                        <div class="two-column_blue__column_blue">
                            <h3 class="two-column_blue__ttl">環境行動と水慣れのクラスは、毎月4週目の最終練習日に進級テストを行います</h3>
                            <div class="two-column_blue__body" style="height: 261.578px;">
                                <p>この段階のお子さまは水を怖がることも多く、環境適応や体力不足など精神的・体力的な個人差が大きくあります。</p>
                                <p>水慣れや技術習得のスピードは練習ごとに変化するため、進級チェックは頻度を上げて毎月行います。<br>段階的な指導を行うにあたり、準備高度段階におけるメンタル面を重視したステップを取り入れ、習い始めのストレスを軽減。保護者さまとの信頼関係を築くための大切な期間と捉えています。</p>
                            </div>
                        </div>
                        <div class="two-column_blue__column_blue">
                            <h3 class="two-column_blue__ttl">初歩段階以降は、奇数月の最終練習日に進級テストを行います（2ヶ月に1回）</h3>
                            <div class="two-column_blue__body" style="height: 261.578px;">
                                <p>各泳法への技術習得段階に入る段階のお子さまは、精神的・体力的個人差よりも日々の練習状況や練習頻度で成長スピードが異なります。</p>
                                <p>各段階のカリキュラムでは、2ヶ月ごとに指導内容のゴールを設定し、その目標達成のために、効果的な指導体系に基づいたプログラムを週単位で実施しています。</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/wp-content/themes/pal-ball//images/kids_swimming/kids_swimming/0303_進級基準表.pdf" class="cm-btn btn-icon btn-shadow-blur cm-arr cm-arr--right btn-hover mt40" target="_blank">
                            <p class="inner-btn">
                                <span class="icon"><img src="/images/kids_swimming/img_23.webp" alt="icon-pdf"></span>
                                <span>スイミングスクール<br>進級基準表</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger stripe-top-left stripe-top-left--short2" id="lecturer">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">lecturer</span>
                    <span class="txt-jp">講師紹介</span>
                </h2>
                <div class="list-three-img pd-top pd-top--m">
                    <div class="list-three-img__item">
                        <p class="list-three-img__img">
                            <img src="/images/kids_swimming/img_24.jpg" alt="lecturer-img01" width="354" height="231">
                        </p>
                        <h4 class="list-three-img__ttl txt-m text-center">山田 琢<br><small class="txt-s co-green">やまだ たく</small></h4>
                        <p>パルバル湘南スポーツクラブは、0歳から大人の方まで幅広い年代の方が集い、多くの地域の方と触れ合える総合型スポーツクラブです！子どもたちが未来を変えるために不可欠な「努力する力」を育み、「努力する方法」を伝えていく。そのための環境づくりとして、水泳記録会やダンス発表会などを開催し、表現・発表の機会を創造しています。<br>「茅ヶ崎にパルバルがあって良かった！」そんな風に思ってもらえるよう活動しています。<br>パルバルで一緒にスポーツを楽しみましょう！</p>
                    </div>
                    <div class="list-three-img__item">
                        <p class="list-three-img__img">
                            <img src="/images/kids_swimming/img_25.jpg" alt="lecturer-img01" width="354" height="231">
                        </p>
                        <h4 class="list-three-img__ttl txt-m text-center">熊澤 智典<br><small class="txt-s co-green">くまざわ とものり</small></h4>
                        <p>パルバルのスイミングの一番の魅力は、経験・実績に富んだリオデジャネイロオリンピック競泳日本代表コーチの監修者が構築したカリキュラムです。水が怖い、顔がつけられないといったお子さまでも安心して始められます。4泳法の習得から記録向上まで、それぞれのレベルに合わせた段階的な指導でサポートいたします。<br>お子さまから大人の方まで幅広い年代の方々の指導を担当し、ジュニア競泳で培った高い知識とスキルをもって日々楽しいレッスンを心がけています。<br>パルバルの水泳を通して、社会に出てから必要な学びを幼児期の段階から経験しませんか？</p>
                    </div>
                    <div class="list-three-img__item">
                        <p class="list-three-img__img">
                            <img src="/images/kids_swimming/img_26.jpg" alt="lecturer-img01" width="354" height="231">
                        </p>
                        <h4 class="list-three-img__ttl txt-m text-center">川島 蓮<br><small class="txt-s co-green">かわしま れん</small></h4>
                        <p>採光性が高く開放感のある広々したプールが特徴のパルバル湘南スポーツクラブ。<br>スクール専用フロントやスクール専用ロッカーをご用意しています。また、茅ヶ崎全域を巡回するスクールバスと大型駐車場を完備し、安全で便利で通いやすい環境を提供しています。<br>「いつも笑顔で！いつも元気よく！」をモットーに皆さまの運動をサポート！<br>一緒に楽しくパルバルライフを送っていきましょう！</p>
                    </div>
                    <div class="list-three-img__item">
                        <p class="list-three-img__img">
                            <img src="/images/kids_swimming/img_27.jpg" alt="lecturer-img01" width="354" height="231">
                        </p>
                        <h4 class="list-three-img__ttl txt-m text-center">山下さくら<br><small class="txt-s co-green">やました さくら</small></h4>
                        <p>パルバル湘南スポーツクラブでは5ヶ月から始められる「ベビークラス」、3歳からの「リトルクラス」を展開しています。この2つのクラスの大きな特色は、スイミングとスタジオプログラムが受講できることです。「ベビークラス」ではスイミング、親子体操、リトミックの3種目が受講可能。「リトルクラス」はスイミング、リトルリズム、リトミック、キッズフィットネスの4種目を受講できます。<br>「チャレンジ精神」を大切に、子どもたちと同じ目線、同じ気持ちで目標に向かって突き進むことを心がけて指導にあたっています。パルバルで一緒に楽しく練習しましょう！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger bg-blue stripe-top-left stripe-top-left--blue" id="price_system">
            <div class="container">
                <h2 class="cm-ttl01 cm-ttl01--blue">
                    <span class="txt-eng txt-eng--gray2">price &amp; system</span>
                    <span class="txt-jp">料金・制度案内</span>
                </h2>
                <h3 class="text-center txt-l">月会費</h3>
                <div class="u-contain-md">
                    <table class="style-table03 table-m">
                        <thead>
                            <tr>
                                <th>内容</th>
                                <th>月会費</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ベビークラス</th>
                                <td>
                                    <div class="price set-w_ex-tax">
                                        <p class="price__ex-tax">
                                            <span class="number">7,350</span>
                                            <span class="unit pl20">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax col-w--ss">8,085円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>リトルクラス</th>
                                <td>
                                    <div class="price set-w_ex-tax">
                                        <p class="price__ex-tax">
                                            <span class="number">7,350</span>
                                            <span class="unit pl20">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax col-w--ss">8,085円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>キッズスイミング（週1回）</th>
                                <td>
                                    <div class="price set-w_ex-tax">
                                        <p class="price__ex-tax">
                                            <span class="number">7,850</span>
                                            <span class="unit pl20">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax col-w--ss">8,635円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>キッズスイミング（週2回）</th>
                                <td>
                                    <div class="price set-w_ex-tax">
                                        <p class="price__ex-tax">
                                            <span class="number">10,350</span>
                                            <span class="unit pl20">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax col-w--ss">11,385円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>キッズスイミング（週3回）</th>
                                <td>
                                    <div class="price set-w_ex-tax">
                                        <p class="price__ex-tax">
                                            <span class="number">11,850</span>
                                            <span class="unit pl20">円<label>（税別）</label></span>
                                        </p>
                                        <p class="price__in-tax col-w--ss">13,035円<small>（税込）</small></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="list-indent3 mt10">
                        <li class="txt-ms">※キッズスイミングのみ別途安全管理費として255円(税込280円)がかかります。</li>
                        <li class="txt-ms">※スクールバスのご利用を希望される方のみ、設備使用料1,500円（税込1,650円）/月（週1回）・1,700円（税込1,870円）/月（週2回）・2,000円（税込2,200円）/月（週3回）が別途かかります。</li>
                    </ul>
                </div>
                <div class="sec-cont pb00">
                    <h3 class="text-center txt-l">年会費・入会諸費用など</h3>
                    <div class="u-contain-md">
                        <table class="style-table03 table-m">
                            <thead>
                                <tr>
                                    <th>内容</th>
                                    <th>料金</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>年会費</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">3,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">3,300円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>入会金</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">5,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">5,500円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>会員カード発行料</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">1,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">1,100円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="sec-cont pb00">
                    <h3 class="text-center txt-l">指定品</h3>
                    <div class="u-contain-md">
                        <table class="style-table03 table-m">
                            <thead>
                                <tr>
                                    <th>内容</th>
                                    <th>料金</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>水着（男の子）</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">2,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">2,200円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>水着（女の子）</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">4,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">4,400円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>スイミングキャップ</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">700</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">770円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>ワッペン</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">100</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">110円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>スクールバッグ</th>
                                    <td>
                                        <div class="price set-w_ex-tax">
                                            <p class="price__ex-tax">
                                                <span class="number">3,000</span>
                                                <span class="unit pl20">円<label>（税別）</label></span>
                                            </p>
                                            <p class="price__in-tax col-w--ss">3,300円<small>（税込）</small></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="list-indent3 mt10">
                            <li class="txt-ms">※ベビークラスの指定品はベビーノート409円（税込450円）のみとなります。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont">
            <div class="container">
                <h3 class="text-center txt-l">制度案内</h3>
                <h3 class="two-column__ttl text-left mb40">お休み・振替について</h3>
                <div class="pd-top inner-txt">
                    <h4 class="cm-sub1">お休みについて</h4>
                    <ul class="list-dot list-dot--black">
                        <li>レッスン当日の9:00までに「れんらくアプリ」より欠席登録をお願いします。</li>
                    </ul>
                    <div class="bg-gray p15 mt20">
                        <ul class="list-indent3">
                            <li class="txt-ms">※自己都合によるお休みの場合、月に2回まで振替が可能となります。</li>
                        </ul>
                    </div>
                </div>
                <div class="pd-top">
                    <h4 class="cm-sub1">振替について</h4>
                    <ul class="list-square-blue list-square-blue--md">
                        <li>レッスンの振替</li>
                    </ul>
                    <ul class="list-dot list-dot--black mt20">
                        <li>受講予定当日の12:00までに「れんらくアプリ」にてご登録ください。（土曜日の9:00〜/10:00〜のコースは金曜日24:00まで）</li>
                    </ul>
                    <div class="bg-gray p15 mt20">
                        <ul class="list-indent3">
                            <li class="txt-ms">※レッスン当日の9:00までに「れんらくアプリ」より欠席登録が必要です。</li>
                            <li class="txt-ms">※振替日をお休みされた場合の取り直しはできません。</li>
                            <li class="txt-ms">※振替の取り消しはレッスン開始時間まで可能です。</li>
                            <li class="txt-ms">※安全管理上、振替枠には定員がございます。</li>
                            <li class="txt-ms">※振替期限は欠席日から翌月末までとさせていただきます。</li>
                        </ul>
                    </div>
                    <ul class="list-square-blue list-square-blue--md mt20">
                        <li>進級テスト期間中の振替</li>
                    </ul>
                    <ul class="list-dot list-dot--black mt20">
                        <li>すべてのお子さまの進級テストは『1回のみ』となりますので、通常レッスンのお休みをテスト日に振り替えることはできません。</li>
                        <li>テスト日をお休みされる場合はその月のテスト週、もしくは通常レッスンへの振替が可能となります。</li>
                    </ul>
                    <ul class="list-square-blue list-square-blue--md mt20">
                        <li>特別振替</li>
                    </ul>
                    <ul class="list-dot list-dot--black mt20">
                        <li>お休みが避けられない場合、「特別振替」を受付けています。</li>
                    </ul>
                    <div class="bg-gray p15 mt20">
                        <ul class="list-indent3">
                            <li class="txt-ms">※施設側都合（施設不具合、バス運休）の場合は、自己都合振替の回数には含まれません。</li>
                        </ul>
                    </div>
                </div>
                <div class="pd-top">
                    <h3 class="two-column__ttl text-left mb40">ベビー・リトルクラス（5ヶ月～4歳児）のレッスン受講予約について</h3>
                    <ul class="list-dot list-dot--black mt20">
                        <li>レッスン受講は「れんらくアプリ」からの予約制となります（ベビークラス：当日10:30まで、リトルクラス：当日12:00まで）。</li>
                        <li>受講予約は随時可能ですが、一度に予約できるレッスン数には限りがあります（ベビークラス：4レッスンまで、リトルクラス：3レッスンまで）。</li>
                        <li>受講枠には定員がございます。</li>
                    </ul>
                </div>
                <div class="pd-top">
                    <h3 class="two-column__ttl text-left mb40">クラス変更について</h3>
                    <ul class="list-dot list-dot--black mt20">
                        <li>クラス変更のお届けは前月10日までにフロントにてお手続きください。</li>
                        <li>クラス変更手数料は300円（税込330円）です。</li>
                    </ul>
                    <div class="bg-gray p15 mt20">
                        <ul class="list-indent3">
                            <li class="txt-ms">※ご希望のクラスが定員に達している場合は当該クラスへの変更はできません。</li>
                        </ul>
                    </div>
                </div>
                <div class="pd-top">
                    <h3 class="two-column__ttl text-left mb40">休会・退会について</h3>
                    <ul class="list-dot list-dot--black mt20">
                        <li>休会のお届けは前月10日まで、退会のお届けは当月10日までにフロントにてお手続きください。</li>
                    </ul>
                    <div class="bg-gray p15 mt20">
                        <ul class="list-indent3">
                            <li class="txt-ms">※休会の場合、休会費2,000円（税込2,200円）を申し受けます。</li>
                            <li class="txt-ms">※期限を過ぎての受付や会費の返金は行えませんので十分にご留意ください。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger bg-blue stripe-top-left stripe-top-left--blue" id="voice">
            <div class="container">
                <h2 class="cm-ttl01 cm-ttl01--blue">
                    <span class="txt-eng txt-eng--gray2">voice</span>
                    <span class="txt-jp">会員さまの声</span>
                </h2>
                <div class="three-column_blue">
                    <div class="three-column_blue__column_blue">
                        <h3 class="three-column_blue__ttl" style="height: 97.5938px;">お水が大好きになりました！</h3>
                        <div class="three-column_blue__body" style="height: 335.766px;">
                            <p>娘も私も主人もいつも楽しく通わせていただいております！<br>1歳の娘は滑り台、ジャンプをしたりと水が大好きになりました。<br>5歳の息子も幼少時に通わせていただいたおかげで、泳ぐのが大好きで、今は補助具なしでの練習を楽しんでいます！</p>
                            <p class="txt-s co-green font-bold">E.Hさん 1歳/ベビークラス</p>
                        </div>
                    </div>
                    <div class="three-column_blue__column_blue">
                        <h3 class="three-column_blue__ttl" style="height: 97.5938px;">毎日プールが待ち遠しい！！</h3>
                        <div class="three-column_blue__body" style="height: 335.766px;">
                            <p>4歳から楽しく通わせていただいています！<br>初めてのスイミングから笑顔で通っていて次のスイミングを待ち遠しくしています。<br>楽しく通う中で、目標に向かって練習する姿勢を学ぶ良い場を経験させていただいています。<br>10年在籍でもらえるトロフィーをもらうまで頑張ると意気込んでいます！！</p>
                            <p class="txt-s co-green font-bold">Y.Kさん 7歳/キッズスイミング</p>
                        </div>
                    </div>
                    <div class="three-column_blue__column_blue">
                        <h3 class="three-column_blue__ttl" style="height: 97.5938px;">自分で目標を立てながら楽しく練習しています！</h3>
                        <div class="three-column_blue__body" style="height: 335.766px;">
                            <p>パルバルに通い始めてから水泳が好きになり、タイム級に進級した時に「パルバルに通う回数を増やしてほしい！」と子どもから言われたこともありました。アルティメットクラスで練習するようになってからは、更に自分のタイムを決めて泳ぐ意識が高まったようです。コーチにアドバイスを受けながら、日々水泳を楽しんでいます！</p>
                            <p class="txt-s co-green font-bold">S.Nさん 13歳/キッズスイミング（アルティメットクラス）</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger pb00" id="consider_joining">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray">consider joining</span>
                    <span class="txt-jp">入会をご検討の方</span>
                </h2>
                <div class="list-step">
                    <div class="box-step">
                        <div class="box-step__number">
                            <p>step</p>
                        </div>
                        <h3 class="box-step__ttl">体験レッスン受講</h3>
                        <div class="box-step__infor clearfix">
                            <div class="box-step__img">
                                <img src="/images/kids_swimming/img_28.webp" alt="" width="447" height="290">
                            </div>
                            <div class="box-step__txt">
                                <p>ご入会前に、レッスンの体験をおすすめしております。<br>クラスの雰囲気やお子さまの様子を実際に見た上で、ご入会をご検討ください。</p>
                                <p>
                                    <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">こちらのフォームから体験レッスンをお申し込みください。</a>
                                </p>
                                <p>体験レッスン受講後、曜日・コースをご検討いただき、体験後にそのまま店頭でご入会手続きが可能です。</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-step">
                        <div class="box-step__number">
                            <p>step</p>
                        </div>
                        <h3 class="box-step__ttl">店頭にて入会手続き</h3>
                        <div class="box-step__infor clearfix">
                            <div class="box-step__img">
                                <img src="/images/kids_swimming/img_29.webp" alt="" width="447" height="290">
                            </div>
                            <div class="box-step__txt">
                                <p>ご入会時に以下のものをご用意ください。</p>
                                <div class="bg-gray p15 mt20">
                                    <p class="font-bold">入会手続き時にご用意いただくもの</p>
                                    <ul class="list-dot list-dot--black mt10">
                                        <li>年会費3,000円（税込3,300円）<br>※年に1回、入会月に通常会費と合わせて引き落としとなります</li>
                                        <li>入会金5,000円（税込5,500円）</li>
                                        <li>月会費2ヶ月分（初月分・翌月分）</li>
                                        <li>会員カード発行料1,000円（税込1,100円）</li>
                                        <li>安全管理費255円（税込280円）×2ヶ月分（初月分・翌月分）<br>※キッズスイミング入会者のみ</li>
                                        <li>引き落とし口座（キャッシュカードもしくは、口座番号の分かるもの（通帳）<br class="show-sp">※引き落とし口座は保護者名義のもの</li>
                                    </ul>
                                </div>
                                <ul class="list-indent3">
                                    <li class="txt-ms">※未成年の方のご入会には、親権者の方のご同席、もしくは申込書へのご署名（入会契約・保護者署名欄）が必要です。</li>
                                    <li class="txt-ms">※初期費用の決済には、クレジットカードをご利用いただけます。3ヶ月目以降の月会費は口座引き落しとなります。</li>
                                </ul>
                                <ul class="list-square-blue list-square-blue--md mt20">
                                    <li>スクールバスのご利用を希望される方へ</li>
                                </ul>
                                <p>バス停の位置や乗降時間については、受付時にご説明させていただきます。<br>週1回1,500円（税込1,650円）、週2回1,700円（税込1,870円）、週3回2,000円（税込2,200円）</p>
                                <ul class="list-indent3">
                                    <li class="txt-ms">※週3回以上のご利用も可能です。</li>
                                    <li class="txt-ms">※曜日・時間帯によってバスルートが異なります。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-step">
                        <div class="box-step__number">
                            <p>step</p>
                        </div>
                        <h3 class="box-step__ttl">ご利用方法のご説明・指定品のお渡し</h3>
                        <div class="box-step__infor clearfix">
                            <div class="box-step__img">
                                <img src="/images/kids_swimming/img_30.webp" alt="" width="447" height="290">
                            </div>
                            <div class="box-step__txt">
                                <p>キッズスクールに通う際の入館～お着替え～レッスン～退館までの流れや、お休みする場合の振替、スクールバスを利用される場合の諸手続きについてご説明させていただきます。 併せて指定品のご購入・受け渡しをさせていただきます。</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-step">
                        <div class="box-step__number">
                            <p>step</p>
                        </div>
                        <h3 class="box-step__ttl">入会完了・利用開始</h3>
                        <div class="box-step__infor clearfix">
                            <div class="box-step__img">
                                <img src="/images/kids_swimming/img_31.webp" alt="" width="447" height="290">
                            </div>
                            <div class="box-step__txt">
                                <p>ご入会のお手続きが全て完了いたしましたら、レッスン開始日よりスクールにご参加いただけます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>
</main>

</Layout>
