---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="キッズスイミング"
  description="パルバル湘南スポーツクラブのキッズスイミングスクール。茅ヶ崎の水泳教室。体験申込受付中。"
  bodyClass="p-kids_swimming"
>
<main id="cm-main">
    <section class="ttl-page">
        <div class="container">
            <h1>キッズスイミング</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <div class="container">
            <ul id="breadcrumb">
                <li>
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <span>キッズスイミング</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="main-cont">
        <div class="sec-cont">
            <div class="container">
                <p class="img-top">
                    <img src="/images/kids_swimming/img_3.webp" alt="img-top" width="1380" height="490">
                </p>
                <div class="page-index">
                    <p class="page-index__ttl">page index</p>
                    <ul class="page-index__anchor-link anchor-link">
                        <li class="anchor-link__item">
                            <a href="#point" class="anchor-link__link cm-arr cm-arr--down">
                                <span>特徴</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#reason" class="anchor-link__link cm-arr cm-arr--down">
                                <span>選ばれる理由</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#supervisor" class="anchor-link__link cm-arr cm-arr--down">
                                <span>監修者紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#class" class="anchor-link__link cm-arr cm-arr--down">
                                <span>クラス紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#lecturer" class="anchor-link__link cm-arr cm-arr--down">
                                <span>講師紹介</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#price_system" class="anchor-link__link cm-arr cm-arr--down">
                                <span>料金・制度案内</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#voice" class="anchor-link__link cm-arr cm-arr--down">
                                <span>会員さまの声</span>
                            </a>
                        </li>
                        <li class="anchor-link__item">
                            <a href="#consider_joining" class="anchor-link__link cm-arr cm-arr--down">
                                <span>入会の流れ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--start add content -->
                <div class="box-gray box-campaign" id="Short-term_campaign">
                    <div class="campaign_kids campaign_kids--pink">
                        <h3 class="campaign_kids__ttl">春の特別体験会</h3>
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">春の1Day体験</h4>
                            <table class="c-table-price2">
                                <tbody>
                                    <tr>
                                        <th>クラス</th>
                                        <td class="txt-blue txt-lg">キッズスイミング</td>
                                    </tr>
                                    <tr>
                                        <th>対象</th>
                                        <td>5歳～15歳</td>
                                    </tr>
                                    <tr>
                                        <th>日程</th>
                                        <td class="date">４月２０日（日）</td>
                                    </tr>
                                    <tr>
                                        <th>時間</th>
                                        <td>9：00～9：45</td>
                                    </tr>
                                    <tr>
                                        <th>料金</th>
                                        <td>
                                            <div class="price">
                                                <span class="txt-blue">500&nbsp;円（税別）</span><br class="show-sp">
                                                <span class="price__in-tax">550円<small>（税込）</small></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">体験後1週間以内のご入会で</h4>
                            <div class="kids-price">
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">年会費</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：3,000円（税込3,300円）</p>
                                    </div>
                                </div>
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">カード発行料</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：1,000円（税込1,100円）</p>
                                    </div>
                                </div>
                            </div>
                            <figure class="campaign_kids__img">
                                <img src="/images/kids_swimming/img_4.jpg" alt="体験後1週間以内のご入会で">
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- end  add content  -->
                <div class="box-gray box-campaign" id="campaign">
                    <div class="campaign_kids">
                        <h3 class="campaign_kids__ttl">イツデモ スイミング体験会</h3>
                        <div class="campaign_kids__cont">
                            <h3 class="two-column__ttl text-left mb40">通常クラス　イツデモ体験</h3>
                            <div class="u-contain-md">
                                <table class="style-table03 table-m">
                                    <tbody>
                                        <tr>
                                            <th>日程</th>
                                            <td>3月2日(月)～4月28日(火)</td>
                                        </tr>
                                        <tr>
                                            <th>時間</th>
                                            <td>各種スクール開講時間</td>
                                        </tr>
                                        <tr>
                                            <th>料金</th>
                                            <td>
                                                <div class="price set-w_ex-tax">
                                                    <p class="price__ex-tax">
                                                        <span class="number">500</span>
                                                        <span class="unit pl20">円<label>（税別）</label></span>
                                                    </p>
                                                    <p class="price__in-tax col-w--ss">550円<small>（税込）</small></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end part -->
                        <div class="campaign_kids__cont">
                            <h4 class="campaign-ttl">体験後7営業日以内（体験日を含む）のご入会で</h4>
                            <div class="kids-price">
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">年会費</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：3,000円（税込3,300円）</p>
                                    </div>
                                </div>
                                <!-- <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">指定品</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">プレゼント</p>
                                        <p class="kids-price__price">8,000円相当</p>
                                    </div>
                                </div> -->
                                <div class="kids-price__item">
                                    <h5 class="kids-price__ttl">カード発行料</h5>
                                    <div class="kids-price__body">
                                        <p class="kids-price__txt-green">無料</p>
                                        <p class="kids-price__price">通常：1,000円（税込1,100円）</p>
                                    </div>
                                </div>
                            </div>
                            <div class="last-txt">
                                <p>
                                    <img src="/images/kids_swimming/img_5.webp" alt="さらに初月会費無料＋指定品プレゼント">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end part -->

            </div>
        </div>
        <div class="sec-cont-larger banner-WEB">
            <div class="container">
                <div class="banner-WEB__inner">
                    <h3 class="banner-WEB__ttl">キッズスクールの<br class="show-sp">体験申し込みはこちら</h3>
                    <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow mt00">キッズスクール体験申し込み</a>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger pb00 stripe-top-left" id="point">
            <div class="container">
                <div class="d-flex justify-center mb50">
                    <a href="/fitness/#campaign">
                        <img src="/images/kids_swimming/img_6.png" alt="応援キャンペーン" width="336" height="168">
                    </a>
                </div>
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray">point</span>
                    <span class="txt-jp"><small class="co-yellow">パルバル湘南スポーツクラブ</small>キッズスクールの特徴</span>
                </h2>
            </div>
            <div class="point-head sec-head sec-cont">
                <div class="container">
                    <div class="inner-txt">
                        <p>「カラダを動かせば、未来が変わる」をコンセプトに、すこやかでバランスの取れた心身の成長をサポートするために、無理なく段階を追ったカリキュラムで、健全な心と身体の発育と社会性に富んだ豊かな人間形成を目的としています。</p>
                        <p>効率よく効果的に構築されたカリキュラムは、技術習得能力を高めるために必要となる集団行動や意思決定力・主体性を涵養し、お子さまの年齢特性や発育に応じた段階的指導をプログラムすることによって、楽しく興味を持たせながら財産として自身に残せるスポーツへと導いていきます。</p>
                    </div>
                </div>
            </div>
            <div class="infiniteslide_wrap" style="overflow: hidden;"><div class="infiniteslide" style="display: flex; flex-flow: row; align-items: center; animation: 85.8s linear 0s infinite normal none running infiniteslide177406588374310c7;" data-style="infiniteslide177406588374310c7">
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_7.webp" alt="img01" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_8.webp" alt="img02" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_9.webp" alt="img03" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_10.webp" alt="img04" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_11.webp" alt="img05" width="476" height="318">
                </div>
                <div class="slide-box" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_12.webp" alt="img05" width="476" height="318">
                </div>
            <div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_7.webp" alt="img01" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_8.webp" alt="img02" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_9.webp" alt="img03" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_10.webp" alt="img04" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_11.webp" alt="img05" width="476" height="318">
                </div><div class="slide-box infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                    <img src="/images/kids_swimming/img_12.webp" alt="img05" width="476" height="318">
                </div></div></div>
        </div>
        <div class="sec-cont-larger stripe-top-right stripe-top-right--short2" id="reason">
            <div class="container">
                <h2 class="cm-ttl01">
                    <span class="txt-eng txt-eng--gray2">point</span>
                    <span class="txt-jp">選ばれる<strong class="co-yellow">3</strong>つの理由</span>
                </h2>
            </div>
            <div class="list-reason">
                <div class="list-reason__box-reason">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_13.webp" alt="圧倒的な指導力" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>01</span>圧倒的な指導力</h3>
                            <ul class="list-dot">
                                <li>経験と実績豊富なリオデジャネイロオリンピック競泳日本代表コーチが監修した最新の指導技術に基づくカリキュラムで、コーチ教育を実施しています。</li>
                                <li>定員制により指導体制を充実させ、指導内容のクオリティを維持しています。</li>
                                <li>準備行動段階でのメンタル面に配慮し、発育発達に応じた段階的な指導カリキュラムで心と身体を育みます。</li>
                                <li>効率的かつ効果的なカリキュラムで、早期の上達をサポートします。</li>
                                <li>社会性を養うため、「元気にあいさつ・ルールを守る・仲間と協力する・やりとげる力を養う」を重視した指導を行っています。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-reason__box-reason box-reverse">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_14.webp" alt="パルバルだからできる多様な動作習得" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>02</span>パルバルだからできる多様な動作習得</h3>
                            <ul class="list-dot">
                                <li>パルバルのスクールは0歳から始められるのが大きな魅力です。</li>
                                <li>4歳までは「ダンス」と「スイミング」を併用し、多彩な運動を経験することができます。</li>
                                <li>身体を動かすことを楽しみながら、お子さまの無限の可能性を育みます。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-reason__box-reason">
                    <div class="list-reason__img">
                        <img src="/images/kids_swimming/img_15.webp" alt="安心・便利で通いやすい環境" width="862" height="465">
                    </div>
                    <div class="list-reason__txt">
                        <div class="txt-inner">
                            <h3 class="list-reason__ttl"><span>03</span>安心・便利で通いやすい環境</h3>
                            <ul class="list-dot">
                                <li>パルバルはスクールバスの運行や大型駐車場を完備している点も大きな魅力です。</li>
                                <li>スクールをご利用の方はご自宅の近くまでバスの送迎が可能。茅ヶ崎市全域をルート運行しています。</li>
                                <li>お子さまには、バス乗車中もお友だちと楽しい時間をお過ごしいただけます。</li>
                                <li>専用アプリやメールでお子さまの入退館がリアルタイムで届くほか、レッスンの欠席連絡・振替サービスなどもスマートフォンから便利にご利用いただけます。</li>
                            </ul>
                            <p class="text-center-sp">
                                <a href="https://buscatch.net/scp/pal-ball/bus_stop_map" target="_blank" class="cm-btn btn-shadow-blur cm-arr cm-arr--right btn-hover">バスルート・時刻表</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-cont-larger bg-blue stripe-top-left stripe-top-left--blue" id="supervisor">
            <div class="container">
                <h2 class="cm-ttl01 cm-ttl01--blue">
                    <span class="txt-eng txt-eng--gray2">supervisor</span>
                    <span class="txt-jp">スクール監修者紹介</span>
                </h2>
                <p class="text-center text-left-sp font-bold">バルバル湘南スポーツクラブのキッズスイミングスクールは、<br class="show-pc">日本トップレベルの指導実績を持つプロフェッショナルが泳ぎの習熟に最も効果的な最新カリキュラムを構築。<br>コーチングスタッフへの教育研修までをプロデュースする監修者として、お子さまの成長をサポートいたします。</p>
                <div class="three-column2">
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_16.webp" alt="supervisor-img01" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>執行役員ヘッドコーチ</small><br>村上 二美也</span>
                                    <span class="ttl-eng">Fumiya Murakami</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2021年</dt>
                                                    <dd class="list-year__txt">執行役員ヘッドコーチ就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4>主な指導実績</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>リオデジャネイロオリンピック競泳日本代表コーチ</li>
                                                    <li>公益財団法人日本水泳連盟インターナショナル選手輩出</li>
                                                </ul>
                                            </div>
                                            <div class="inner-part set-height3" style="height: 149.781px;">
                                                <h4>主な公職経歴</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>公益財団法人日本水泳連盟競泳委員</li>
                                                    <li>公益財団法人日本水泳連盟エリート小学生合宿ヘッドコーチ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_17.webp" alt="supervisor-img02" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>代表取締役社長</small><br>林 正基</span>
                                    <span class="ttl-eng">Masaki Hayashi</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">1999年</dt>
                                                    <dd class="list-year__txt">入社</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2003年</dt>
                                                    <dd class="list-year__txt">取締役部長就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2011年</dt>
                                                    <dd class="list-year__txt">代表取締役就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2023年</dt>
                                                    <dd class="list-year__txt">法政大学体育会水泳部監督に就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4>主な指導実績</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>日本高等学校選手権水泳競技大会優勝</li>
                                                    <li>公益財団法人日本水泳連盟ナショナル選手輩出</li>
                                                </ul>
                                            </div>
                                            <div class="inner-part set-height3" style="height: 149.781px;">
                                                <h4>主な公職経歴</h4>
                                                <ul class="list-dot list-dot--sm list-dot--black">
                                                    <li>一般社団法人神奈川県水泳連盟強化委員長</li>
                                                    <li>公益財団法人日本水泳連盟ジュニアブロックシンガポール遠征ヘッドコーチ</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="three-column2__column">
                        <div class="three-column2__img">
                            <img src="/images/kids_swimming/img_18.webp" alt="supervisor-img03" width="152" height="158">
                        </div>
                        <div class="three-column2__txt">
                            <div class="three-column2__ttl">
                                <h3>
                                    <span class="ttl-jp"><small>取締役</small><br>川中 浩</span>
                                    <span class="ttl-eng">Yutaka kawanaka</span>
                                </h3>
                            </div>
                            <div class="three-column2__body">
                                <div class="style-table04">
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>経歴</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="set-height" style="height: 115.188px;">
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2017年</dt>
                                                    <dd class="list-year__txt">上席執行役員就任</dd>
                                                </dl>
                                                <dl class="list-year">
                                                    <dt class="list-year__year">2020年</dt>
                                                    <dd class="list-year__txt">取締役就任</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="style-table04__tr">
                                        <div class="style-table04__th">
                                            <p>実績</p>
                                        </div>
                                        <div class="style-table04__td">
                                            <div class="inner-part set-height2" style="height: 149.781px;">
                                                <h4