---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="パーソナルトレーニング"
  description="パルバル湘南スポーツクラブのパーソナルトレーニング。初心者対象、衝撃的バリュープライス。無料カウンセリング受付中。"
  bodyClass="p-personal"
>
<main id="cm-main" class="p-personal">
    <section class="ttl-page">
        <div class="container">
            <h1>パーソナルトレーニング</h1>
        </div>
    </section>
    <div class="breadcrumb">
        <div class="container">
            <ul id="breadcrumb">
                <li>
                    <a href="/">
                        <span>HOME</span>
                    </a>
                </li>
                <li>
                    <span>パーソナルトレーニング</span>
                </li>
            </ul>
        </div>
    </div>
    <section class="main-cont personal_page">
        <div class="main_visual">
            <img src="/images/personal/img_3.jpg" alt="「変わりたい」を本気でサポート！ 初心者対象 激しすぎるトレーニング、無理は食事制限はしません！">
        </div>
        <div class="main_visual_sub">
            <ul>
                <li>
                    <a href="#section09"><img src="/images/personal/img_4.png" alt="無料カウンセリング・無料体験実施中！"></a>
                </li>
            </ul>
        </div>
        <div class="title --about" id="section01">
            <h2 class="n_margin">パルバル湘南スポーツクラブの<br>パーソナルトレーニングとは？</h2>
        </div>
        <div class="sec-cont pt00">
            <div class="container">
                <div class="about-point">
                    <div class="about-point__txt">
                        <img src="/images/personal/img_5.png" class="about_point">
                        <h3>フィットネス初心者対象</h3>
                        <p>パルバル湘南スポーツクラブはフィットネス初心者対象のパーソナルトレーニング。激しすぎるトレーニング、無理な食事指導はしません！ </p>
                    </div>
                    <div class="about-point__img">
                        <img src="/images/personal/img_6.png">
                    </div>
                </div>
                <div class="about-point">
                    <div class="about-point__txt">
                        <img src="/images/personal/img_7.png" class="about_point txt_right">
                        <h3>衝撃的バリュープライス</h3>
                        <p>比べてください。圧倒的ロープライス。総合型フィットネス（ジム・プール・お風呂等）を付帯したパーソナルトレーニングだからできる価格設定です。 </p>
                    </div>
                    <div class="about-point__img">
                        <img src="/images/personal/img_8.png">
                    </div>
                </div>
                <div class="about-point">
                    <div class="about-point__txt">
                        <img src="/images/personal/img_9.png" class="about_point">
                        <h3>リバウンドしにくい脂質制限<br>ダイエット</h3>
                        <p>全くごはん(白米)を食べないダイエットはもうおさらば！脂質を少し制限するダイエット法で、ごはんを食べながら無理なく続けられるのがポイント！ </p>
                    </div>
                    <div class="about-point__img">
                        <img src="/images/personal/img_10.png">
                    </div>
                </div>
                <div class="about-point">
                    <div class="about-point__txt">
                        <img src="/images/personal/img_11.png" class="about_point txt_right">
                        <h3>ジムもプールもお風呂も<br>使い放題</h3>
                        <p>パーソナルトレーニングお申込者は、併設のジム・プール・お風呂を無料で使い放題。トレーナーの指導で覚えたトレーニングメニューを全く同じ環境で、実践し続けられます。</p>
                    </div>
                    <div class="about-point__img">
                        <img src="/images/personal/img_12.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- about end -->
        <div class="title" id="section03">
            <h2 class="n_margin_trainer">トレーナー紹介　－TRAINER－</h2>
        </div>
        <section class="trainer section_last">
            <div class="container">
                <ul class="flex_item">
                    <li>
                        <a href="#modal01" class="modal_trainer" data-modaal-scope="modaal_17740658295389cef51cc622b4">
                            <img src="/images/personal/img_13.jpg" alt="">
                            <h4>和田</h4>
                        </a>
                        <div id="modal01" style="display:none;">
                            <section class="trainer modal_contens">
                                <div>
                                    <img src="/images/personal/img_13.jpg" alt="">
                                    <h4>和田</h4>
                                    <h5>趣味</h5>
                                    <p>アクセサリー作り、料理、ゴルフ</p>
                                    <h5>一言</h5>
                                    <p>年齢にとらわれず、心も身体も元気に笑顔になれるトレーニングを一緒に楽しみましょう！</p>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li>
                        <a href="#modal02" class="modal_trainer" data-modaal-scope="modaal_1774065829538e024541951c058">
                            <img src="/images/personal/img_14.jpg" alt="">
                            <h4>佐野 涼平</h4>
                        </a>
                        <div id="modal02" style="display:none;">
                            <section class="trainer modal_contens">
                                <div>
                                    <img src="/images/personal/img_14.jpg" alt="">
                                    <h4>佐野 涼平</h4>
                                    <h5>趣味</h5>
                                    <p>サーフィン、激辛商品を見つけたら買う</p>
                                    <h5>一言</h5>
                                    <p>一緒に「できることを、できる時に、できる範囲で、できるだけ」やりましょう！</p>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- trainer end -->
        <div class="title" id="section05">
            <h2 class="n_margin_trainer">コース・料金　ーPLANー</h2>
        </div>
        <section class="plan section_last service_sec">
            <div class="container service_sec01">
                <div class="campaign" id="campaign">
                    <div class="course_tbl_box">
                        <table class="course_tbl01">
                            <tbody>
                                <tr class="course_tbl01_head">
                                    <th>&nbsp;</th>
                                    <th>2ヶ月コース</th>
                                    <th>3ヶ月コース</th>
                                </tr>
                                <tr>
                                    <th>回数</th>
                                    <td>全16回</td>
                                    <td>全24回</td>
                                </tr>
                                <tr>
                                    <th>時間</th>
                                    <td colspan="2">1セッション/50分</td>
                                </tr>
                                <tr>
                                    <th rowspan="4">プラン内容</th>
                                    <td class="text-left" colspan="2">1）個別食事指導</td>
                                </tr>
                                <tr>
                                    <td class="text-left" colspan="2">2）トレーニング指導</td>
                                </tr>
                                <tr>
                                    <td class="text-left" colspan="2">3）姿勢改善</td>
                                </tr>
                                <tr>
                                    <td class="text-left" colspan="2">4）総合型フィットネスが使い放題<br>（ジム・プール・お風呂等）</td>
                                </tr>
                                <tr class="price_box">
                                    <th>料金</th>
                                    <td colspan="2">下記キャンペーン情報をご覧ください。</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="campaign_area">
                        <a href="#modal_store13" class="modal_store modal_trainer" data-modaal-scope="modaal_17740658295382221b7c1965df8">
                            <img src="/images/personal/img_15.png" alt="「とってもお得な」キャンペーン情報「いまがチャンス」">
                        </a>
                        <ul class="campaign_list flex flex_container flex_jus_center">
                            <li class="campaign_list-item">
                                <div id="modal_store13" style="display:none;">
                                    <img src="https://pal-ball.com/wp-content/themes/pal-ball//images/personal/personal/パルバルPT_CP.jpg" alt="パルバル湘南スポーツクラブ">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end PLAN -->
        <div class="title" id="section06">
            <h2 class="n_margin_trainer">よくあるご質問　－FAQ－</h2>
        </div>
        <section class="qa section_last">
            <div class="container">
                <ul class="list_faq">
                    <li>
                        <div class="ques_box">
                            <p class="icon_q">Q.</p>
                            <div class="ques_txt">集中ダイエットコースは期間内に終了しないといけませんか？</div>
                        </div>
                        <div class="ans_box">
                            <p class="icon_a">A.</p>
                            <div class="ans_txt">受講期間を過ぎても、決まった回数を消化し終わるまで受講できます。</div>
                        </div>
                    </li>
                    <li>
                        <div class="ques_box">
                            <p class="icon_q">Q.</p>
                            <div class="ques_txt">パーソナルトレーニングの予約は固定の曜日や時間でないといけませんか？</div>
                        </div>
                        <div class="ans_box">
                            <p class="icon_a">A.</p>
                            <div class="ans_txt">決まりはございませんのでお客様のご都合が良い日程をお選びください。</div>
                        </div>
                    </li>
                    <li>
                        <div class="ques_box">
                            <p class="icon_q">Q.</p>
                            <div class="ques_txt">パーソナルトレーニングをキャンセルする場合、キャンセル費用はかかりますか？</div>
                        </div>
                        <div class="ans_box">
                            <p class="icon_a">A.</p>
                            <div class="ans_txt">ご予約前日までにキャンセルの連絡を頂ければキャンセル費用はかかりません。</div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- よくあるご質問 end -->
        <div class="title" id="section07">
            <h2 class="n_margin_trainer">店舗案内　－ACCESS－</h2>
        </div>
        <section class="access section_last">
            <div class="container">
                <div id="item-list" class="shop-list">
                    <ul class="cols-3_s">
                        <li class="heiwadai">
                            <div class="access_box">
                                <div class="access_box_ttl" style="height: 131px;">
                                    <h3>パルバル湘南スポーツクラブ</h3>
                                </div>
                                <div class="l-foot_layout">
                                    <div class="l-foot_info">
                                        <p class="l-foot_logo">
                                            <img src="/images/personal/img_0.webp" class="fitimg" alt="HAYASHI FITNESS &amp; SPA RESORT">
                                        </p>
                                        <p class="l-foot_name">パルバル湘南スポーツクラブ</p>
                                        <p class="l-foot_address"><a href="https://www.google.co.jp/maps/place/HAYASHI+%E3%83%95%E3%82%A3%E3%83%83%E3%83%88%E3%83%8D%E3%82%B9%EF%BC%86%E3%82%B9%E3%83%91%E3%83%AA%E3%82%BE%E3%83%BC%E3%83%8824%E5%B9%B3%E5%92%8C%E5%8F%B0/@35.7571617,139.6506882,17z/data=!3m1!4b1!4m5!3m4!1s0x6018ed17f5294121:0xb02335b1551ac593!8m2!3d35.7571617!4d139.6506882?hl=ja" target="_blank">〒253-0042　神奈川県茅ヶ崎市本村1丁目4-20</a></p>
                                        <dl class="l-foot_tel">
                                            <dt>電話番号</dt>
                                            <dd>
                                                <a href="tel:0467-54-4411">0467-54-4411</a>
                                            </dd>
                                        </dl>
                                        <dl class="l-foot_area">
                                            <dt>周辺地域</dt>
                                            <dd>茅ヶ崎、辻堂、藤沢、平塚、湘南</dd>
                                        </dl>
                                    </div>
                                    <div class="l-foot_map">
                                        <div class="cmn-map">
                                            <img src="/images/personal/img_17.webp" class="fitimg rwd-hidden-pc" alt="アクセスマップ">
                                            <a href="https://www.google.co.jp/maps/place/HAYASHI+%E3%83%95%E3%82%A3%E3%83%83%E3%83%88%E3%83%8D%E3%82%B9%EF%BC%86%E3%82%B9%E3%83%91%E3%83%AA%E3%82%BE%E3%83%BC%E3%83%8824%E5%B9%B3%E5%92%8C%E5%8F%B0/@35.7571617,139.6506882,17z/data=!3m1!4b1!4m5!3m4!1s0x6018ed17f5294121:0xb02335b1551ac593!8m2!3d35.7571617!4d139.6506882?hl=ja" target="_blank" class="cmn-map_link"><i class="fas fa-map-marked-alt">​</i> Googleマップで見る</a>
                                        </div>
                                        <dl class="l-foot_mapAccess">
                                            <dt>ACCESS</dt>
                                            <dd>JR東海道線「茅ヶ崎駅」北口下車、徒歩15分</dd>
                                        </dl>
                                    </div>
                                    <dl class="l-foot_time">
                                        <dt><span>営業時間</span></dt>
                                        <dd>
                                            <div class="l-foot_timeLayout">
                                                <div class="l-foot_timeWeek">
                                                    <dl class="l-foot_timeDetail">
                                                        <dt>平日</dt>
                                                        <dd>9:00 ～ 22:00　※水曜日を除く</dd>
                                                    </dl>
                                                    <dl class="l-foot_timeDetail">
                                                        <dt>土曜日</dt>
                                                        <dd>9:00 ～ 20:00</dd>
                                                    </dl>
                                                    <dl class="l-foot_timeDetail">
                                                        <dt>日曜・祝日</dt>
                                                        <dd>9:00 ～ 19:00</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </dd>
                                        <dt><span>定休日</span></dt>
                                        <dd>
                                            <dl class="l-foot_timeOff">
                                                <dt>水曜日</dt>
                                                <dd>※水曜日はキッズスクールのみ営業</dd>
                                            </dl>
                                            <dl class="l-foot_timeOff">
                                                <dt>お盆・年末年始・その他施設点検日</dt>
                                            </dl>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- ACCESS end -->
        <div class="title" id="section08">
            <h2 class="n_margin_trainer">お申込みまでの流れ　－FLOW－</h2>
        </div>
        <section class="flow">
            <div class="container">
                <div class="flow_section_cover">
                    <div class="flow_section">
                        <h3>STEP<span class="flow_section_h3_num">1</span>　体験申し込み</h3>
                        <p> まずは以下の「無料カウンセリング・体験ご予約」<br class="brpc">
                            フォームからご予約ください。 </p>
                    </div>
                    <div class="flow_img">
                        <img src="/images/personal/img_18.png" alt="">
                    </div>
                </div>
                <div class="flow_section_cover">
                    <div class="flow_section">
                        <h3>STEP<span class="flow_section_h3_num">2</span>　店舗にご来店</h3>
                        <p> 当日は10分前までにいらっしゃってください。 </p>
                    </div>
                    <div class="flow_img">
                        <img src="/images/personal/img_19.png" alt="">
                    </div>
                </div>
                <div class="flow_section_cover">
                    <div class="flow_section">
                        <h3>STEP<span class="flow_section_h3_num">3</span>　カウンセリング・体験</h3>
                        <p> 担当トレーナーとカウンセリング＆トレーニング体験！ </p>
                    </div>
                    <div class="flow_img">
                        <img src="/images/personal/img_20.png" alt="">
                    </div>
                </div>
                <div class="flow_section_cover">
                    <div class="flow_section">
                        <h3>STEP<span class="flow_section_h3_num">4</span>　本申し込み・次回予約</h3>
                        <p> 本申込み完了後専用の予約システムにて次回以降の<br class="brpc">
                            予約をとっていただきます。 </p>
                    </div>
                    <div class="flow_img">
                        <img src="/images/personal/img_21.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- end FLOW -->
        <div class="form_before">
            <div class="container">
                <ul class="cols-3">
                    <li>
                        <img src="/images/personal/img_22.png" alt="">
                    </li>
                    <li>
                        <img src="/images/personal/img_23.png" alt="">
                    </li>
                    <li>
                        <img src="/images/personal/img_24.png" alt="">
                    </li>
                </ul>
                <h3 class="message" id="section09">
                    <span>無料カウンセリング・体験ご予約は下記フォームから！</span>
                </h3>
            </div>
        </div>
        <section id="sec10">
            <div class="table-form container">
                <form method="post" action="/api/personal" enctype="multipart/form-data"><table class="table-form_set">
<tbody>
<tr>
<td>お問い合わせ項目<span class="rec">必須</span></td>
<td>	<span class="mwform-radio-field horizontal-item">
		<label>
			<input type="radio" name="radio_issue" value="無料カウンセリング・体験のご予約" class="radio">
			<span class="mwform-radio-field-text">無料カウンセリング・体験のご予約</span>
		</label>
	</span>
	<span class="mwform-radio-field horizontal-item">
		<label>
			<input type="radio" name="radio_issue" value="お問い合わせ" class="radio">
			<span class="mwform-radio-field-text">お問い合わせ</span>
		</label>
	</span>

<input type="hidden" name="__children[radio_issue][]" value="{&quot;\u7121\u6599\u30ab\u30a6\u30f3\u30bb\u30ea\u30f3\u30b0\u30fb\u4f53\u9a13\u306e\u3054\u4e88\u7d04&quot;:&quot;\u7121\u6599\u30ab\u30a6\u30f3\u30bb\u30ea\u30f3\u30b0\u30fb\u4f53\u9a13\u306e\u3054\u4e88\u7d04&quot;,&quot;\u304a\u554f\u3044\u5408\u308f\u305b&quot;:&quot;\u304a\u554f\u3044\u5408\u308f\u305b&quot;}">
</td>
</tr>
<tr>
<td>お名前<span class="rec">必須</span></td>
<td>
<div class="sep"><span class="d-flex">姓

<input type="text" name="name1" class="form-control placeholder" size="60" value="" placeholder="姓をご入力ください。">

</span> <span class="d-flex">名

<input type="text" name="name2" class="form-control placeholder" size="60" value="" placeholder="名をご入力ください。">

</span></div></td>
</tr>
<tr class="none-bor">
<td>フリガナ<span class="rec">必須</span></td>
<td>
<div class="sep">

セイ


<input type="text" name="kana1" class="form-control placeholder" size="60" value="" placeholder="姓のフリガナをご入力ください。">


メイ


<input type="text" name="kana2" class="form-control placeholder" size="60" value="" placeholder="名のフリガナをご入力ください。">


</div></td>
</tr>
<tr>
<td>メールアドレス<span class="rec">必須</span></td>
<td>
<input type="text" name="email" class="form-control placeholder" size="60" value="" placeholder="半角英数でご入力ください。">
</td>
</tr>
<tr>
<td>メールアドレス
確認用<span class="rec">必須</span></td>
<td>
<p class="plen">確認のため、もう一度ご入力ください。</p>

<input type="text" name="c_email" class="form-control placeholder" size="60" value="" placeholder="半角英数でご入力ください。">
</td>
</tr>
<tr>
<td>電話番号<span class="rec">必須</span></td>
<td>
<input type="text" name="tel" class="form-control placeholder" size="60" value="" placeholder="半角でご入力ください。">
</td>
</tr>
<tr>
<td>年齢<span class="any">任意</span></td>
<td>
<input type="text" name="age" class="form-control placeholder" size="60" value="" placeholder="半角でご入力ください。">
歳</td>
</tr>
<tr>
<td>予約希望日<span class="any">任意</span></td>
<td>
<ul class="table-form_list02">
 	<li class="outer_list">第1希望日 <span class="note">※ご予約の方はなるべくご入力ください。</span>
<ul class="inner_list">
 	<li class="inner_list_item">
<input type="text" name="first_preferred_date" class="inputArea custom-datepicker" size="10" value="" placeholder="日付を選択" id="dp1774065829531" readonly="readonly">

</li>
 	<li class="inner_list_item">
<select name="t1">
			<option value="--">
			--		</option>
			<option value="10">
			10		</option>
			<option value="11">
			11		</option>
			<option value="12">
			12		</option>
			<option value="13">
			13		</option>
			<option value="14">
			14		</option>
			<option value="15">
			15		</option>
			<option value="16">
			16		</option>
			<option value="17">
			17		</option>
			<option value="18">
			18		</option>
			<option value="19">
			19		</option>
			<option value="20">
			20		</option>
	</select>

<input type="hidden" name="__children[t1][]" value="{&quot;--&quot;:&quot;--&quot;,&quot;10&quot;:&quot;10&quot;,&quot;11&quot;:&quot;11&quot;,&quot;12&quot;:&quot;12&quot;,&quot;13&quot;:&quot;13&quot;,&quot;14&quot;:&quot;14&quot;,&quot;15&quot;:&quot;15&quot;,&quot;16&quot;:&quot;16&quot;,&quot;17&quot;:&quot;17&quot;,&quot;18&quot;:&quot;18&quot;,&quot;19&quot;:&quot;19&quot;,&quot;20&quot;:&quot;20&quot;}">
</li>
 	<li class="inner_list_item">時 ～</li>
 	<li class="inner_list_item"></li>
</ul><button type="button" class="calendar-toggle-btn">カレンダーを閉じる</button><div class="inline-calendar-first hasDatepicker" style="margin-top: 10px; clear: both;" id="dp1774065829534"><div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="前"><span class="ui-icon ui-icon-circle-triangle-w">前</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="次"><span class="ui-icon ui-icon-circle-triangle-e">次</span></a><div class="ui-datepicker-title"><select class="ui-datepicker-year" aria-label="Select year" data-handler="selectYear" data-event="change"><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026" selected="selected">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option></select>年<select class="ui-datepicker-month" aria-label="Select month" data-handler="selectMonth" data-event="change"><option value="0">1月</option><option value="1">2月</option><option value="2" selected="selected">3月</option><option value="3">4月</option><option value="4">5月</option><option value="5">6月</option><option value="6">7月</option><option value="7">8月</option><option value="8">9月</option><option value="9">10月</option><option value="10">11月</option><option value="11">12月</option></select></div></div><table class="ui-datepicker-calendar"><thead><tr><th scope="col"><span title="月曜日">月</span></th><th scope="col"><span title="火曜日">火</span></th><th scope="col"><span title="水曜日">水</span></th><th scope="col"><span title="木曜日">木</span></th><th scope="col"><span title="金曜日">金</span></th><th scope="col" class="ui-datepicker-week-end"><span title="土曜日">土</span></th><th scope="col" class="ui-datepicker-week-end"><span title="日曜日">日</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="1">1</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="2">2</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="3">3</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="4">4</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="5">5</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="6">6</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="7">7</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="8">8</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="9">9</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="10">10</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="11">11</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="12">12</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="13">13</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="14">14</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="15">15</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="16">16</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="17">17</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="18">18</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="19">19</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="20">20</a></td><td class=" ui-datepicker-week-end ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#" aria-current="true" data-date="21">21</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="22">22</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="23">23</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="24">24</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="25">25</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="26">26</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="27">27</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="28">28</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="29">29</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="30">30</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2026"><a class="ui-state-default" href="#" aria-current="false" data-date="31">31</a></td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td></tr></tbody></table></div></div>
</li>
 	<li class="outer_list">第2希望日 <span class="note">※ご予約の方はなるべくご入力ください。</span>
<ul class="inner_list">
 	<li class="inner_list_item">
<input type="text" name="second_preferred_date" class="inputArea js-datepicker hasDatepicker" size="10" value="" placeholder="日付を選択" id="dp1774065829532">

</li>
 	<li class="inner_list_item">
<select name="t2">
			<option value="--">
			--		</option>
			<option value="10">
			10		</option>
			<option value="11">
			11		</option>
			<option value="12">
			12		</option>
			<option value="13">
			13		</option>
			<option value="14">
			14		</option>
			<option value="15">
			15		</option>
			<option value="16">
			16		</option>
			<option value="17">
			17		</option>
			<option value="18">
			18		</option>
			<option value="19">
			19		</option>
			<option value="20">
			20		</option>
	</select>

<input type="hidden" name="__children[t2][]" value="{&quot;--&quot;:&quot;--&quot;,&quot;10&quot;:&quot;10&quot;,&quot;11&quot;:&quot;11&quot;,&quot;12&quot;:&quot;12&quot;,&quot;13&quot;:&quot;13&quot;,&quot;14&quot;:&quot;14&quot;,&quot;15&quot;:&quot;15&quot;,&quot;16&quot;:&quot;16&quot;,&quot;17&quot;:&quot;17&quot;,&quot;18&quot;:&quot;18&quot;,&quot;19&quot;:&quot;19&quot;,&quot;20&quot;:&quot;20&quot;}">
</li>
 	<li class="inner_list_item">時 ～</li>
 	<li class="inner_list_item"></li>
</ul>
</li>
 	<li class="outer_list">第3希望日 <span class="note">※ご予約の方はなるべくご入力ください。</span>
<ul class="inner_list">
 	<li class="inner_list_item">
<input type="text" name="thired_preferred_date" class="inputArea js-datepicker hasDatepicker" size="10" value="" placeholder="日付を選択" id="dp1774065829533">

</li>
 	<li class="inner_list_item">
<select name="t3">
			<option value="--">
			--		</option>
			<option value="10">
			10		</option>
			<option value="11">
			11		</option>
			<option value="12">
			12		</option>
			<option value="13">
			13		</option>
			<option value="14">
			14		</option>
			<option value="15">
			15		</option>
			<option value="16">
			16		</option>
			<option value="17">
			17		</option>
			<option value="18">
			18		</option>
			<option value="19">
			19		</option>
			<option value="20">
			20		</option>
	</select>

<input type="hidden" name="__children[t3][]" value="{&quot;--&quot;:&quot;--&quot;,&quot;10&quot;:&quot;10&quot;,&quot;11&quot;:&quot;11&quot;,&quot;12&quot;:&quot;12&quot;,&quot;13&quot;:&quot;13&quot;,&quot;14&quot;:&quot;14&quot;,&quot;15&quot;:&quot;15&quot;,&quot;16&quot;:&quot;16&quot;,&quot;17&quot;:&quot;17&quot;,&quot;18&quot;:&quot;18&quot;,&quot;19&quot;:&quot;19&quot;,&quot;20&quot;:&quot;20&quot;}">
</li>
 	<li class="inner_list_item">時 ～</li>
 	<li class="inner_list_item"></li>
</ul>
</li>
</ul>
※ご希望日は翌営業日以降でご選択ください
■パーソナル受付時間
平日：10:00～21:00（水曜除く）
土曜：10:00～19:00</td>
</tr>
<tr>
<td>ご希望コース<span class="rec">必須</span></td>
<td>
<div class="table-form_list03">
<select name="course">
			<option value="--">
			--		</option>
			<option value="2カ月集中コース">
			2カ月集中コース		</option>
			<option value="3カ月集中コース">
			3カ月集中コース		</option>
	</select>

<input type="hidden" name="__children[course][]" value="{&quot;--&quot;:&quot;--&quot;,&quot;2\u30ab\u6708\u96c6\u4e2d\u30b3\u30fc\u30b9&quot;:&quot;2\u30ab\u6708\u96c6\u4e2d\u30b3\u30fc\u30b9&quot;,&quot;3\u30ab\u6708\u96c6\u4e2d\u30b3\u30fc\u30b9&quot;:&quot;3\u30ab\u6708\u96c6\u4e2d\u30b3\u30fc\u30b9&quot;}">
</div></td>
</tr>
<tr>
<td>お問い合わせ内容<span class="any">任意</span></td>
<td>
<textarea name="comment" class="form-control inquiry placeholder" cols="50" rows="5" placeholder="お問い合わせの詳細などがありましたらご入力ください"></textarea>
</td>
</tr>
</tbody>
</table>
<div class="sub-form">
<div class="custom-checkbox">
	<span class="mwform-checkbox-field horizontal-item">
		<label for="checkbox1-1">
			<input type="checkbox" name="agreement[data][]" value=" " id="checkbox1-1">
			<span class="mwform-checkbox-field-text"> </span>
		</label>
	</span>

<input type="hidden" name="agreement[separator]" value=",">

<input type="hidden" name="__children[agreement][]" value="{&quot; &quot;:&quot; &quot;}">

<label for="checkbox1">「<a href="#pp" target="_blank" rel="noopener">PRIVACY POLICY</a>」の内容に同意する</label></div>
※ご同意いただけない場合は送信できません。
<div class="sub-form_submit">
<input type="submit" name="submitConfirm" value="確認する" class="btn_submit">

</div>
</div></form>
            </div>
            <div id="item-list">
                <div class="container">
                    <div id="pp">
                        <h2><span class="font_blue">P</span>RIVACY <span class="font_blue">P</span>OLICY</h2>
                        <p>当サイトの運営に際し、お客様のプライバシーを尊重し個人情報に対して十分な配慮を行うとともに、<br>
                            大切に保護し、適正な管理を行うことに努めております。</p>
                        <br>
                        <h4>【個人情報の利用目的】</h4>
                        <p>a）お客様のご要望に合わせたサービスをご提供するための各種ご連絡。</p>
                        <p>b）お問い合わせいただいたご質問への回答のご連絡。</p>
                        <br>
                        <p>公正かつ適正な手段で、上記目的に必要となる個人情報を収集します。<br>
                            要配慮個人情報を取得する際は、ご本人の同意を得るものとします。<br>
                            取得した個人情報・要配慮個人情報は、ご本人の同意なしに目的以外では利用しません。<br>
                            情報が漏洩しないよう対策を講じ、従業員だけでなく委託業者も監督します。<br>
                            国内外を問わず、ご本人の同意を得ずに第三者に情報を提供しません。<br>
                            ご本人からの求めに応じ情報を開示します。<br>
                            公開された個人情報が事実と異なる場合、訂正や削除に応じます。<br>
                            個人情報の取り扱いに関する苦情に対し、適切・迅速に対処します。<br>
                            本個人情報保護方針の適用範囲は本ホームページ内のみとします。</p>
                        <br>
                        <h4>【Googleアナリティクスの使用について】</h4>
                        <p>当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使用し、<br>
                            当サイトの利用状況などのデータ収集および解析を行っております。<br>
                            その際、「Cookie」を通じて、Googleがお客様のIPアドレスなどの情報を収集する場合がありますが、<br>
                            「Cookie」で収集される情報は個人を特定できるものではありません。<br>
                            収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。<br>
                            なお、当サイトのご利用をもって、上述の方法・目的においてGoogleおよび当サイトが行うデータ処理に関し、お客様にご承諾いただいたものとみなします。</p>
                        <br>
                        <h5>＜Googleのプライバシーポリシー＞</h5>
                        <a href="http://www.google.com/intl/ja/policies/privacy/" target="_blank">http://www.google.com/intl/ja/policies/privacy/</a><br>
                        <a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">https://www.google.com/intl/ja/policies/privacy/partners/</a> <br>
                        <br>
                        <h5>＜個人情報に関するお問い合わせ窓口＞</h5>
                        <p>株式会社パルバル湘南スポーツクラブ<br>info＠hsc-g.co.jp</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <p class="rbn">
        <a href="#section09">
            <img src="/images/personal/img_25.png" alt="無料体験申し込みはこちら" class="show-pc"><img src="/images/personal/img_26.png" alt="無料体験申し込みはこちら" class="show-sp"></a>
    </p>
    
    
<section class="sec-cont sec-WEB">
    <div class="container">
        <h2 class="sec-WEB__ttl">WEB入会・スクール体験申し込みは<br class="show-sp">こちらから</h2>
        <div class="list-banner">
            <div class="list-banner__banner banner-black">
                <h3 class="list-banner__ttl">フィットネス</h3>
                <p>WEBより入会手続きを行ってください。</p>
                <a href="https://www4.e-atoms.jp/HAYASHIWebUser/PreReserv/index?TmpCd=003&amp;SMBC=1" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">フィットネスWEB入会</a>
            </div>
            <div class="list-banner__banner banner-blue">
                <h3 class="list-banner__ttl">キッズスクール</h3>
                <p>入会前の体験レッスンはこちらからお申し込みください。</p>
                <a href="https://scr.buscatch.net/trial/list?f=pal-ball" target="_blank" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">キッズスクール体験申し込み</a>
            </div>
        </div>
        <ul class="list-btn">
            <li class="list-btn__item">
                <a href="/guide/#flow" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">入会の流れ</a>
            </li>
            <li class="list-btn__item">
                <a href="/contact/#faq" class="cm-btn cm-btn--btn-white btn-shadow-blur cm-arr cm-arr--right btn-hover btn-hover--yellow">よくある質問</a>
            </li>
        </ul>
    </div>
</section>
</main>

</Layout>
